.header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    color: whitesmoke;
    background-color: #161748;
    height: 7.5em;
    width: 100%;
    padding-left: 1em;
    padding-right: 1em;
    position: fixed;
    top: 0%;
    border-bottom:  solid white;
    z-index: 3;
}

.header_left{
    display: flex;
    align-items: center;
    height: 100%;
    outline: none;
    cursor: pointer;
}

.header_left_img{
    height: 100%;
}

.header_left_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 22px;
    margin-left: 1vh;
}

.header_left_text > span{
    font-size: 1.18em;
}

span {
    font-weight: bold;
}

.header-menu{
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
}

.header-menu > li{
    margin-left: 1vh;
}

.header-menu >li > span {
    font-size: 1.23em;
    padding-left: 1vh;
    padding-right: 1vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    outline: none;
}

.header-menu > li > span:hover {
    color: red;
    background-color: whitesmoke;
    border-radius: 8px;
    cursor: pointer;
}

.active{
    padding-bottom: 1vh;
    color: white;
    border-bottom: 4px solid red;
}

.burger_menu{
    display: none;
}


@media all and (max-width: 1007px){
    
    .header{
        padding-left: 2vh;
        padding-right: 2vh;
        height: 6em;
    }

    .burger_menu{
        display: flex;
        flex-direction: column;
        height: 4.5vh;
        width: 4.5vh;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
    }

    .burger_menu span{
        background-color: white;
        width: 4.5vh;
        height: 0.5vh;
        transition: all 0.3s ease;
    }

    .header-menu{
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        background: #161748c9;
        top: 6em;
        right: 0%;
        margin-top: 0%;
        margin-right: 0%;
        padding-left: 5em;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        padding-top: 2em;
        padding-bottom: 2em;
        

    }

    .header-menu > li {
        margin-left: 0%;
        opacity: 0;
        text-align: right;
        width: 100%;
        padding-top: 0.5em;
        padding-bottom: 0.5em;

    }
    .header-menu > li > span{
        width: 100%;
        padding-right: 3vh;

    }

    .burger_slide_in{
        transform: translateX(0%);
    }



    @keyframes navLinkFade {

        from{
            opacity: 0;
            transform: translateX(50px);
        }

        to{
            opacity: 1;
            transform: translateX(0px);
        }
        
    }


    .toggle .line1{
        transform-origin : 0 0 ;
        transform: rotate(45deg) translate(0.4vh,-0.5vh);
        width: 6vh;
    }   

    .toggle .line2{
        opacity: 0;    
    }

    .toggle .line3{
        transform-origin: 0 0;
        transform: rotate(-45deg) translate(0.4vh,0.5vh);
        width: 6vh;
        text-align: center;
    }

    .active{
        padding:0;
        border: none;
    }

    .active > a{
        color: blue;
        font-weight: bold;
        font-size: 1.2em;
    }

}




@media all and (max-width: 870px){

    .header_left_text > span{
        font-size: 1em;
    }

}

@media all and (max-width: 575px){

    .header_left_text > span{
        font-size: 1em;
    }
    

}

@media all and (max-width: 430px){

    .header{
        height: 4.5em;
    }

    .header_left_img{
        height: 85%;
    }

    .header_left_text > span{
        font-size: 0.8em;
    }

    .header-menu{
        top: 4.5em;
        padding-left: 3em;
        padding-top: 0.2em;
        padding-bottom: 0.2em;

    }

    .header-menu > li{
        margin-top: 0.1em;
        margin-bottom: 0.1em;
    }

    .header-menu > li > span{
        font-size: 1.1em;
    }


}

