<footer class="footer container-fluid">

    <div class="footer-top">
        <div class="footer-bloc">
            <span class="footer-title">CONTACT</span>
            <span>sscovid19.contact@gmail.com</span>
            <span>You can contact me for job opportunity</span>
        </div>

        <div class="footer-bloc">
            <span class="footer-title">FOLLOW</span>
            <a href="https://twitter.com/sscovid191" target="_blank"><img style="width: 20px; height: 20px;" src="../assets/img/twitter.png"></a> 
            <a href="https://www.instagram.com/zrotof_/" target="_blank"><img style="width: 20px;height: 20px;" src="../assets/img/instagram.png"></a> 
        </div>

        <div class="footer-bloc">
            <span class="footer-title">LEGAL</span>
            <a routerLink="/disclaimers" style="cursor: pointer; text-decoration: none; color:white;" >Disclaimer & Privacy Policy</a>
            <a >Terms of use</a>
        </div>
    </div>
    <span class="footer-bottom">&copy; Copyright 2020 Samuel Mandeng. All Rights Reserved</span>

</footer>