
.content{
    margin-top: 7.5em;
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    background-color: white;
    padding-left: 2em;
    padding-right:2em;
    width:100%;
    padding-bottom: 5vh;
}

.title{
    text-decoration: underline;
    font-size: 2.5em;
    font-weight: bolder;
    margin-bottom: 45px;
    margin-top: 45px;
    color : #161748;
}

.main-bloc{
    display:flex;
    flex-direction: column;
    width:100%;
    justify-content: center;
    align-items: center;
}



.left-bloc{
    width:80%;
    background-color : #161748;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 3vh;
    padding: 2%;
    
}

.left-bloc span{
    
    font-size: 1.7em;
    font-weight: bolder;
    margin-bottom: 2%;
    margin-top: 3%;
    text-align:center;
    width: 100%;
}

.right-bloc{
    width:80%;
    background-image: 
    linear-gradient(
        rgba(0 0 0 / 38%),
        rgba(47 55 72 / 75%)

    ), 
    url("../../assets/img/picsou.jpg");
    background-repeat: no-repeat;
     /* Center and scale the image nicely */
    background-position: center;
    background-size: cover;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;


    flex-direction: column;
    padding-top:6vh;
}

button {
    border: none;
    display: block;
    text-align: center;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    position: relative;
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    background-color: #222;
    padding-left: 2vh;
    padding-right: 2vh;
    padding-top: 1vh;
    padding-bottom: 1vh;

  }
  
  button span {
    position: relative; 
    z-index: 1;
  }
  
  .btn:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 490%;
    width: 140%;
    background: #78c7d2;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-transform: translateX(-99%) translateY(-20%) rotate(45deg);
    transform: translateX(-99%) translateY(-20%) rotate(45deg);
  }
  
  .btn:hover:after {
    -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
    transform: translateX(-9%) translateY(-25%) rotate(45deg);
  }

  .title2{
    font-size: 2em;
    font-weight: bolder;
    margin-bottom: 2%;
    margin-top: 3%;
    color : #161748;

}

.secutity-text{
    width:80%;
}

.about-mbc{
    color: blue;
    cursor: pointer;
}
  
  .security{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width:100%;
    align-items: flex-start;
}


.group{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin-left: 2vh;
    margin-right: 2vh;
    margin-top: 2vh;
}

.img1{
    width:60px; 
    height:50px; 
    margin-bottom:15px;
}

.img3,.img2{
    width:50px; 
    height: 50px; 
    margin-bottom:15px;
}



@media all and (max-width: 1056px){
    .left-bloc{
        width:90%;

    }

    .right-bloc{
        width:90%;

    }

    .title{
        font-size: 2em;
        margin-bottom: 0;
    }

}


@media all and (max-width: 1007px){
    
    .content{
        margin-top: 6em;
    }

}


@media all and (max-width: 718px){
    .left-bloc{
        width:100%;
    }

    .right-bloc{
        width:100%;
    }

    .content{
        margin-top: 5em;
    }

    .title{
        font-size:1.8em ;
    }

}

@media all and (max-width: 588px){

    .title2{
        font-size: 1.5em;
    }

    .img1{
        width:40px; 
        height:40px; 
        margin-bottom:15px;
    }
    
    .img3,.img2{
        width:30px; 
        height: 40px; 
        margin-bottom:15px;
    }

    .content{
        padding:0;
    }
  
}


@media all and (max-width: 430px){

   .content{
        margin-top:4.5em;
        font-size: 0.8em;
    }
}

