<div class="content">
    <span class="title"> {{'bmac.title' | translate}} </span>
    <div class="main-bloc">
        <div class="left-bloc">
            <span > {{'bmac.top-bloc.question' | translate}} </span>

            <p> {{'bmac.top-bloc.paragraphe1' | translate}} </p>
            <ul>
                <li>{{'bmac.top-bloc.support1' | translate}} </li>
                <li>{{'bmac.top-bloc.support2' | translate}}</li>
                <li>{{'bmac.top-bloc.support3' | translate}}</li>
            </ul>
        </div>
        <div class="right-bloc">
            <p> {{'bmac.medium-bloc.paragraphe1' | translate}} </p>
            <p> {{'bmac.medium-bloc.paragraphe2' | translate}} </p>
            <p> {{'bmac.medium-bloc.paragraphe3' | translate}} </p>
            <p> {{'bmac.medium-bloc.paragraphe4' | translate}} </p>
                <p> {{'bmac.medium-bloc.paragraphe5' | translate}} </p>
                <button (click)= "redirectToBmc()" class="btn"><span>Buy Me A Coffee</span></button>
            </div>
        </div>
        <span class="title2"> {{'bmac.bottom-bloc.question' | translate}} </span>
        <p  class="secutity-text"><span (click)="redirectToBmcAbout()" class="about-mbc">Buy Me a Coffee</span> {{'bmac.bottom-bloc.paragraphe1' | translate}}</p>

<div class="security jumbotron">
    <div class="group">
        <img class="img1" src="../../assets/img/cadenas.png" alt="icon of a cadena">
        <span>{{'bmac.bottom-bloc.bloc1.text1' | translate}}</span>
        <span>{{'bmac.bottom-bloc.bloc1.text2' | translate}}</span>
    </div>
    <div class="group">
        <img class="img2" src="../../assets/img/ok.png" alt="icon of a hand saying good">
        <span>{{'bmac.bottom-bloc.bloc2.text1' | translate}}</span>
        <span>{{'bmac.bottom-bloc.bloc2.text2' | translate}}</span>
    </div>
    <div class="group ">
        <img class="img3" src="../../assets/img/fees.png" alt="icon of a man who don't pay fees">
        <span>{{'bmac.bottom-bloc.bloc3.text1' | translate}}</span>
        <span>{{'bmac.bottom-bloc.bloc3.text2' | translate}}</span>
    </div>
    
</div>
</div>