<div class="content">
    <span class="title">Buy Me A Coffee</span>
    <div class="main-bloc">
        <div class="left-bloc">
            <span >Want to support me ?</span>

            <p>if you really want to support me you have the following means : </p>
            <ul>
                <li>Send your suggestions at sscovid19.contact@gmail.com </li>
                <li>Share the website massively around you</li>
                <li>Make a donation according to your availability</li>
            </ul>
        </div>
        <div class="right-bloc">
            <p>The goal behind the creation of this website has never been a way for me to make a lot of money, but keeping this website up to date, continually improving it and especially assuming the hosting costs generate costs that your donations will help me support.</p>
            <p> 
                The greatest joy for me would be to see my website grow, so feel free to share it if you find it useful and intuitive. I've put a lot of hours of work into it and I'd like to see that it wasn't all for nothing.</p>
                <p>
                    (*) For donations please click on the "<strong>Buy Me A Coffee</strong>" button below. You will be redirected to a secure external page that will handle the entire transaction.
                </p>

                <p>(*)Feel free to donate according to your availability.</p>
                <p>Thank you .</p>
                <button (click)= "redirectToBmc()" class="btn"><span>Buy Me A Coffee</span></button>
            </div>
        </div>
        <span class="title2">Is Buy Me a Coffee safe and reliable?</span>
        <p  class="secutity-text"><span (click)="redirectToBmcAbout()" class="about-mbc">Buy Me a Coffee</span> is a secured platform gives the audience a way to support a creator through the use of donations or tips.There are more than 100,000 creators on the platform.</p>

<div class="security jumbotron">
    <div class="group">
        <img class="img1" src="../../assets/img/cadenas.png" alt="icon of a cadena">
        <span>They are verified by PayPal and Stripe</span>
        <span>They don't store credit cards information</span>
    </div>
    <div class="group">
        <img class="img2" src="../../assets/img/ok.png" alt="icon of a hand saying good">
        <span>Very simple and fast to use</span>
        <span>You have the possibility to enable monthly support</span>
    </div>
    <div class="group ">
        <img class="img3" src="../../assets/img/fees.png" alt="icon of a man who don't pay fees">
        <span>You don't pay any fees</span>
        <span>You can donate from 1 euro</span>
    </div>
    
</div>
</div>