<div class="content">
    <span class="title1">Buy Me A Coffee</span>
    <div class="main-bloc">
        <div class="left-bloc">
            <span >Want to support me ?</span>

            <p>if you really want to support me you have the following means : </p>
            <ul>
                <li>Send your suggestions at sscovid19.contact@gmail.com </li>
                <li>Share the website massively around you</li>
                <li>Make a donation according to your availability</li>
            </ul>
        </div>
        <div class="right-bloc">
            <p>The goal behind the creation of this website has never been a way for me to make a lot of money, but keeping this website up to date, continually improving it and especially assuming the hosting costs generate costs that your donations will help me support.</p>
            <p> 
                The greatest joy for me would be to see my website grow, so feel free to share it if you find it useful and intuitive. I've put a lot of hours of work into it and I'd like to see that it wasn't all for nothing.</p>
                <p>
                    (*) For donations please click on the "Buy Me a Coffee" button below. You will be redirected to a secure external page that will handle the entire transaction.
                </p>

                <p>(*)Feel free to donate according to your availability.</p>
                <p>Thank you .</p>
                <button (click)= "redirectToBMC()" class="btn"><span>Buy me a coffee</span></button>
            </div>
        </div>
        <span class="title2">Is Buy Me a Coffee safe and reliable?</span>
            <p style="width:80%;"><a href="https://www.buymeacoffee.com/about" target="_blank">Buy Me a Coffee</a> is a secured platform gives the audience a way to support a creator through the use of donations or tips.There are more than 100,000 creators on the platform.</p>

<div class="security jumbotron">
    <div class="group">
        <span>They are verified by PayPal and Stripe</span>
        <span>They don't store credit cards information</span>
    </div>
    <div class="group">
        <span>Very simple and fast to use</span>
    </div>
    <div class="group ">
        <span>You don't pay any fees</span>
    </div>
    
</div>
</div>