
.footer{
    background-color: black ;
    display: flex;
   flex-direction: column;
   color: white;
   align-items: center;

}

.content{
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 30px 0;
    
}
