.covid19-history{
    margin-top: 7.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.title{
    text-decoration: underline;
    font-size: 2.5em;
    font-weight: bolder;
    margin-bottom: 45px;
    margin-top: 45px;
    color: #161748;
}


.introduction{
    width: 100%;
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 1em;
    text-align: justify;

    padding-right: 1em;
    padding-left: 1em;
}

#accordionExample{
    z-index: 1;
    width: 70%;
}


label{
    font-size: 0.6em;
    cursor: pointer;
}


label:hover{
    background-color: #161748;
    color: white ;
}

.accordion-item{
    margin-bottom: 1em;
}




.accordion-body{
    display: flex;
    flex-direction: column;
}

.some-covid19-facts{
    height: 50em;
    width: 100%;
    margin-bottom: 4vh;
    margin-top: 4vh;
}

.some-covid19-facts-small{
    display: none;
}


@media all and (max-width: 1155px){

    .title{
        font-size: 2.1em;
    }
}


@media all and (max-width: 1056px){
    .title{
        font-size: 2em;
        margin-bottom: 0.5em;
    }

    .introduction{
        font-size: 1.3em;
    }

}


@media all and (max-width: 1007px){
    .covid19-history{
        margin-top: 6em;
    }

}






@media all and (max-width: 940px){

    .title{
        
        margin-bottom: 35px;
        margin-top: 35px;
    }
    #accordionExample{
        width: 100%;
        padding-left: 2em;
        padding-right: 2em;
    }
    .some-covid19-facts{
        height: 40em;
       
    }
    .introduction{
        font-size: 1.2em;
    }

    
}

@media all and (max-width: 905px){

    .title{
        font-size: 2em;
    }

    
}

@media all and (max-width: 840px){

    #accordionExample{
        width: 100%;
        padding-left: 1.5em;
        padding-right: 1.5em;
    }
    .some-covid19-facts{
        height: 30em;
       
    }

    
}


@media all and (max-width: 718px){

    .covid19-history{
        margin-top: 5em;
    }

    .title{
        font-size:1.8em ;
    }
}


@media all and (max-width: 702px){

    #accordionExample{
        width: 100%;
        padding-left: 1em;
        padding-right: 1em;
    }
    .some-covid19-facts{
        height: 25em;
       
    } 
}

@media all and (max-width: 640px){

    .some-covid19-facts{
        display: none;
       
    }

    .some-covid19-facts-small{
        display: inherit;
        height: 25em;
        width: 100%;
        padding-right: 1em;
        padding-left: 1em;
        margin-bottom: 2em;

    }
    #accordionExample{
        width: 100%;
        
        padding-right: 0.31em;
        padding-left: 0.3em;
    }
    .some-covid19-facts{
        height: 25em;
       
    }

    .introduction{
        width: 100%;

        padding-right: 0.6em;
        padding-left: 0.6em;
    }

    .title{
        font-weight: 1.6em;

        margin-bottom: 25px;
        margin-top: 25px;
    }

  
}


@media all and (max-width: 479px){

    .title{
        font-size: 1.7em;
    }

  
}

@media all and (max-width: 430px){

    .covid19-history{
        margin-top:4.5em;
        font-size: 0.8em;
    }
  
}







