.covid19-history{
    margin-top: 7.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.title{
    text-decoration: underline;
    font-size: 2.5em;
    font-weight: bolder;
    margin-bottom: 45px;
    margin-top: 45px;
    color: #161748;
}


.introduction{
    width: 100%;
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 1em;
    text-align: justify;

    padding-right: 1em;
    padding-left: 1em;
}

#accordionExample{
    z-index: 1;
    width: 70%;
}


label{
    font-size: 0.6em;
    cursor: pointer;
}


label:hover{
    background-color: #161748;
    color: white ;
}

.accordion-item{
    margin-bottom: 1em;
}




.accordion-body{
    display: flex;
    flex-direction: column;
}

.some-covid19-facts{
    height: 50em;
    width: 100%;
    margin-bottom: 4vh;
    margin-top: 4vh;
}


.timeline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    margin: 5% auto;
}

.timeline-event{
    background: #161748;
    margin-bottom: 20px;
    position: relative;
    display: flex;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
      0 18px 36px -18px rgba(0, 0, 0, 0.3),
      0 -12px 36px -8px rgba(0, 0, 0, 0.025);
      color: white;

}

.timeline-event-image{
    border-radius: 8px 0 0 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 20px;
      background: white;
}


.element-one::after{
    content: "";
    width: 2px;
    height: 150%;
    background: #16174823;
    position: absolute;
    top: 50%;
    left: -2.55rem;
    z-index: -1;
}


.element-one::before{
    content: "";
      width: 1rem;
      height: 1rem;
      position: absolute;
      background: #161748;
      border-radius: 100%;
      left: -3rem;
      top: 50%;
      transform: translateY(-50%);
}

.element-two::after{
    content: "";
    width: 2px;
    height: 200%;
    background: #16174823;
    position: absolute;
    top: 50%;
    left: -2.55rem;
    z-index: -1;
}


.element-two::before{
    content: "";
      width: 1rem;
      height: 1rem;
      position: absolute;
      background: #161748;
      border-radius: 100%;
      left: -3rem;
      top: 50%;
      transform: translateY(-50%);
}


.element-three::after{
    content: "";
    width: 2px;
    height: 135%;
    background: #16174823;
    position: absolute;
    top: 50%;
    left: -2.55rem;
    z-index: -1;
}


.element-three::before{
    content: "";
      width: 1rem;
      height: 1rem;
      position: absolute;
      background: #161748;
      border-radius: 100%;
      left: -3rem;
      top: 50%;
      transform: translateY(-50%);
}



.element-four::after{
    content: "";
    width: 2px;
    height: 135%;
    background: white;
    position: absolute;
    top: 50%;
    left: -2.55rem;
    z-index: -1;
}

.element-four::before{
    content: "";
      width: 1rem;
      height: 1rem;
      position: absolute;
      background: #161748;
      border-radius: 100%;
      left: -3rem;
      top: 50%;
      transform: translateY(-50%);
}

.coro-origine{
        height: 4em;
        width: 4em;
}

.coro-old-man{
    height: 4em;
    width: 4em;
}

.coro-oms{
    height: 4em;
    width: 4em;
}

.coro-vaccines{
    height: 4em;
    width: 4em;
}

.timeline-event-date{
    color: #f6a4ec;
      font-size: 1.5rem;
      font-weight: 600;
      white-space: nowrap;
}

.timeline-event-content{
    padding: 0.5em;
}

.timeline-event-title{
    font-size: 1.2rem;
      font-weight: 600;
      color: #9251ac;
}



@media all and (max-width: 1155px){

    .title{
        font-size: 2.1em;
    }
}


@media all and (max-width: 1056px){
    .title{
        font-size: 2em;
        margin-bottom: 0.5em;
    }

    .introduction{
        font-size: 1.3em;
    }

}


@media all and (max-width: 1007px){
    .covid19-history{
        margin-top: 6em;
    }

}






@media all and (max-width: 940px){

    .title{
        
        margin-bottom: 35px;
        margin-top: 35px;
    }
    #accordionExample{
        width: 100%;
        padding-left: 2em;
        padding-right: 2em;
    }
    .some-covid19-facts{
        height: 40em;
       
    }
    .introduction{
        font-size: 1.2em;
    }

    
}

@media all and (max-width: 905px){

    .title{
        font-size: 2em;
    }

    
}

@media all and (max-width: 840px){

    #accordionExample{
        width: 100%;
        padding-left: 1.5em;
        padding-right: 1.5em;
    }
    .some-covid19-facts{
        height: 30em;
       
    }

    
}


@media all and (max-width: 718px){

    .covid19-history{
        margin-top: 5em;
    }

    .title{
        font-size:1.8em ;
    }
}


@media all and (max-width: 702px){

    #accordionExample{
        width: 100%;
        padding-left: 1em;
        padding-right: 1em;
    }
    .some-covid19-facts{
        height: 25em;
       
    } 
}

@media all and (max-width: 640px){

    .some-covid19-facts{
        display: none;
       
    }

    .some-covid19-facts-small{
        display: inherit;
        height: 25em;
        width: 100%;
        padding-right: 1em;
        padding-left: 1em;
        margin-bottom: 2em;

    }
    #accordionExample{
        width: 100%;
        
        padding-right: 0.31em;
        padding-left: 0.3em;
    }
    .some-covid19-facts{
        height: 25em;
       
    }

    .introduction{
        width: 100%;

        padding-right: 0.6em;
        padding-left: 0.6em;
    }

    .title{
        font-weight: 1.6em;

        margin-bottom: 25px;
        margin-top: 25px;
    }

  
}


@media all and (max-width: 479px){

    .title{
        font-size: 1.7em;
    }

  
}

@media all and (max-width: 430px){

    .covid19-history{
        margin-top:4.5em;
        font-size: 0.8em;
    }
  
}







