<div class="about-us">
    <span class="title">ABOUT</span>
    
    <div class="content">
        <div class="bloc-photo">
            <div class="photo">
                <img src="../../assets/img/zrotof-big-head.jpg" alt="The image ofdevelopper of this website">
                
            </div>
            <span class="bloc-photo-text" >Contact: sscovid19.contact@gmail.com</span>
            <span class="bloc-photo-text">Please don't hesitate to send comments and suggestions in order to improve this website.</span>
            <span class="bloc-photo-text">Thank you. </span>
        </div>

        <div class="text-bloc">
            <div class="text">
                <span class="subtitle">ME</span>
                <p>Hello, my name is Samuel Mandeng. I'm a web developer and more generally a computer enthusiast.</p>
                <p>Realizing this site is a way for me to be an actor in the fight against covid 19. Considering the number of hundreds of thousands and now millions of people who are affected by this disease, I proposed to realize this website for two main objectives :</p>
                    <ul>
                        <li>to remind everyone that covid19 is real and that it does not only affect others. </li>
                        <li>allowing everyone to easily access data about the evolution of covid19 around the world</li>
                    </ul>
              
                    
            </div>


            <div class="text">
                <span class="subtitle">RESOURCES (<img src="../../assets/img/group.png" alt="icon of a group of three persons" />,<img src="../../assets/img/api.png"/>)</span>
                <p>To create this website, I had to arm myself with a lot of will, encouragement, advice and reliable data resources. So I give a special thanks to :</p>
                <ul>
                    <li>disease.sh : an open API for disease-related statistics. They collect and verify data from Worldometers, Johns Hopkins University, government reported data, ..., and keep them up to date</li>
                    <li>friends & familly: they were a great help, mainly on encouragement and validation of color choices </li>
                </ul>
            </div>
        </div>
    </div>
    
</div>