
<nav class="header">

    <div class="header_left" routerLink="">
      <img src="../../assets/img/logo-sscovid19-final.svg" alt="logo of the website">
    </div>

    <div class="header_right">
        


    <div class="header-menu-language">
    <ul class="header-menu">
        <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"> 
            <span routerLink="/">{{'header.nav.link1' | translate}}</span>
        </li>

        <li  routerLinkActive="active">
            <span routerLink="/maps">{{'header.nav.link2' | translate}}</span>
        </li>

        <li  routerLinkActive="active">
            <span routerLink="/covid-19">{{'header.nav.link3' | translate}}</span>
        </li>

        <li  routerLinkActive="active">
            <span routerLink="/about">{{'header.nav.link4' | translate}}</span>
        </li>

        <li  routerLinkActive="active">
            <span routerLink="/buy-me-a-coffee" class="coffee">
                <img src="../../assets/img/coffee-cup.png" class="coffee-cup" alt="image of a coffee cup">
                Buy Me a coffee
            </span>
        </li>
    </ul>

    
    <div class="header-language">
        <label class="switch english">
            <input type="checkbox" class="checkbox en" (click)="chooseEnglish()" checked>
            <span class="toggle-thumb">
                <span>EN</span>
                <span>EN</span>
            </span>
       </label>

       <label class="switch french">
            <input type="checkbox" class="checkbox fr" (click)="chooseFrench()">
            <span class="toggle-thumb">
                <span>FR</span>
                <span>FR</span>  
            </span>
        </label>

    </div>
    </div> 

    <div class="burger_menu" (click)="onBurgerMenu()">
        <span class="line1"></span>
        <span class="line2"></span>
        <span class="line3"></span>
    </div>

</div>
  
</nav>

