.covid19-history{
    margin-top: 7.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.content{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;    
}

.title{
    text-decoration: underline;
    font-size: 2.5em;
    font-weight: bolder;
    margin: 45px 0;
    color: #161748;
    text-align: center;
}


.introduction{
    width: 100%;
    font-size: 1.1em;
    margin-bottom: 2em;
    text-align: justify;
}

#accordionExample{
    z-index: 1;
    width: 100%;
}


label{
    font-size: 0.6em;
    cursor: pointer;
}


label:hover{
    background-color: #161748;
    color: white ;
}

.accordion-item{
    margin-bottom: 1em;
}




.accordion-body{
    display: flex;
    flex-direction: column;
}

.some-covid19-facts{
    height: 50em;
    width: 100%;
    margin-bottom: 4vh;
    margin-top: 4vh;
}


.timeline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 15px;
    position: relative;
    margin-bottom: 400px;
    height: 100vh;
}

.ligne{
    width: 4px;
    height: 715px;
    background: #161748;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
}

.timeline-event-image{
    position: absolute;
    border-radius: 50%;
    padding: 2px;
    background: white;
    border: 3px solid #161748;
    width: 70px;
    height: 70px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.element-one{
    top: 0px;
}

.element-two{
    top: 200px;
}

.element-three{
    top: 375px;
}

.element-four{
    top: 715px;
}

.timeline-event{
    width: 44%;
    top: 0;
    background: #161748;
    position: absolute;
    display: flex;
    border-radius: 8px;
    box-shadow: 0 10px 15px rgb(0 0 0 / 50%);
    color: white;
    top: 100%;
}

.box1{
    top: 0px;
    left: 0;
}

.box2{
    top: 200px;
    right: 0;
}

.box3{
    top: 375px;
    left: 0;
}

.box4{
    top: 715px;
    right: 0;
}


.coro-origine,.coro-old-man,.coro-oms,.coro-vaccines{
        height: 3em;
        width: 3em;
}


.timeline-event-content{
    padding: 1em;
}

.timeline-event-title{
    font-size: 1.2rem;
      font-weight: 600;
      color: #9251ac;
      margin-bottom: 13px;
}



@media all and (max-width: 1155px){

    .title{
        font-size: 2.1em;
    }
}


@media all and (max-width: 1056px){
    .title{
        font-size: 2em;
        margin-bottom: 0.5em;
    }

    .introduction{
        font-size: 1.3em;
    }

}


@media all and (max-width: 1007px){

    .covid19-history{
        margin-top: 6em;
    }

    .timeline {
        margin-top: 10px ;
    }

    .ligne{
        left: 43px;
    }

    .timeline-event-image{
        
        left: 43px;

    }

    .timeline-event{
        width: 90%;
        right: 0;
        left: inherit !important;
    }

    .timeline-event-title{
        font-size: 1.1em;
    }

    .timeline-event-description{
        font-size: 0.9em;
    }

    .box1{
        top: 0px;
        left: calc(50% - 200px);
    }
    
    .box2{
        top: 200px;
        left: calc(50% + 200px);
    }
    
    .box3{
        top: 375px;
        left: calc(50% - 200px);
    }
    
    .box4{
        top: 715px;
        left: calc(50% + 200px);
    }
}







@media all and (max-width: 940px){

    .title{
        
        margin-bottom: 35px;
        margin-top: 35px;
    }
    #accordionExample{
        width: 100%;
    }

    .some-covid19-facts{
        height: 40em;
    }

    .introduction{
        font-size: 1.2em;
    }

    .timeline {
         width: 100%;
    }

    
}

@media all and (max-width: 905px){

    .title{
        font-size: 2em;
    }

    
}


@media all and (max-width: 844px){

 

    .box1,.box2,.box3,.box4{
      left: calc(50% + 25px);
      width: 80%;
      }
  
  
  
      
  }

@media all and (max-width: 840px){

    #accordionExample{
        width: 100%;

    }
    .some-covid19-facts{
        height: 30em;
       
    }

    
}





@media all and (max-width: 718px){

    .covid19-history{
        margin-top: 5em;
    }

    .title{
        font-size:1.8em ;
    }

}



@media all and (max-width: 702px){

    #accordionExample{
        width: 100%;
        padding-left: 1em;
        padding-right: 1em;
    }
    .some-covid19-facts{
        height: 25em;
    } 

}

@media all and (max-width: 640px){

    .some-covid19-facts{
        display: none;
       
    }

    .some-covid19-facts-small{
        display: inherit;
        height: 25em;
        width: 100%;
        padding-right: 1em;
        padding-left: 1em;
        margin-bottom: 2em;
    }

    #accordionExample{
        width: 100%;
        padding-right: 0.31em;
        padding-left: 0.3em;
    }

    .some-covid19-facts{
        height: 25em;
    }

    .introduction{
        width: 100%;

        padding-right: 0.6em;
        padding-left: 0.6em;
    }

    .title{
        font-weight: 1.6em;

        margin-bottom: 25px;
        margin-top: 25px;
    }

  
}

@media all and (max-width: 479px){

    .title{
        font-size: 1.7em;
    }

    .ligne{
        width: 2px;
        left: 25px;
    }

    .timeline-event-image{
        
        border: 2px solid #161748;
        width: 40px;
        height: 40px;
        left: 25px;
    }

    .coro-origine,.coro-old-man,.coro-oms,.coro-vaccines{
        height: 30px;
        width: 30px;
    }

}

@media all and (max-width: 430px){

    .covid19-history{
        margin-top:4.5em;
    }

  
}


@media all and (max-width: 386px){

    .timeline-event{
        padding-bottom: 0px;
    }

    .timeline-event-content{
        padding: 0.5em;
    }

    .timeline-event-title{
        font-size: 1.1em;
    }

    .timeline-event-description{
        font-size: 0.8em;
    }
  
}







