<div class="covid19-history">

    <span class="title">{{'covid19.title' | translate}}</span>

    <span class="introduction">{{'covid19.introduction' | translate}}</span>

    <div class="accordion" id="accordionExample">
        <div class="accordion-item border-bottom ">
          <h2 class="accordion-header" id="headingOne">
            <label class="accordion-button collapsed"  data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                {{'covid19.questions.about-covid.label' | translate}}
            </label>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse " aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              {{'covid19.questions.about-covid.body.one' | translate}}
            </div>
          </div>
        </div>
        <div class="accordion-item border-bottom ">
          <h2 class="accordion-header" id="headingTwo">
            <label class="accordion-button collapsed"  data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              {{'covid19.questions.symptoms-covid.label' | translate}}            
            </label>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              {{'covid19.questions.symptoms-covid.body.common-symptoms.title' | translate}}


                <ul>
                    <li>{{'covid19.questions.symptoms-covid.body.common-symptoms.symptoms.one' | translate}}</li>
                    <li>{{'covid19.questions.symptoms-covid.body.common-symptoms.symptoms.two' | translate}}</li>
                    <li>{{'covid19.questions.symptoms-covid.body.common-symptoms.symptoms.three' | translate}}</li>
                </ul>
                

                {{'covid19.questions.symptoms-covid.body.other-symptoms.title' | translate}}

<ul>
    <li>{{'covid19.questions.symptoms-covid.body.other-symptoms.symptoms.one' | translate}}</li>
    <li>{{'covid19.questions.symptoms-covid.body.other-symptoms.symptoms.two' | translate}}</li>
    <li>{{'covid19.questions.symptoms-covid.body.other-symptoms.symptoms.three' | translate}}</li>
    <li>{{'covid19.questionsquestions.symptoms-covid.body.other-symptoms.symptoms.four' | translate}}</li>
    <li>{{'covid19.questions.symptoms-covid.body.other-symptoms.symptoms.five' | translate}}</li>
    <li>{{'covid19.questions.symptoms-covid.body.other-symptoms.symptoms.six' | translate}}</li>
    <li>{{'covid19.questions.symptoms-covid.body.other-symptoms.symptoms.seven' | translate}}</li>
    <li>{{'covid19.questions.symptoms-covid.body.other-symptoms.symptoms.eight' | translate}}</li>
    <li>{{'covid19.questions.symptoms-covid.body.other-symptoms.symptoms.nine' | translate}}</li>
    <li>{{'covid19.questions.symptoms-covid.body.other-symptoms.symptoms.ten' | translate}}</li>
</ul>

{{'covid19.questions.symptoms-covid.body.severe-symptoms.title' | translate}}

<ul>
    <li>{{'covid19.questions.symptoms-covid.body.severe-symptoms.symptoms.one' | translate}}</li>
    <li>{{'covid19.questions.symptoms-covid.body.severe-symptoms.symptoms.two' | translate}}</li>
    <li>{{'covid19.questions.symptoms-covid.body.severe-symptoms.symptoms.three' | translate}}</li>
    <li>{{'covid19.questions.symptoms-covid.body.severe-symptoms.symptoms.four' | translate}}</li>
    <li>{{'covid19.questions.symptoms-covid.body.severe-symptoms.symptoms.five' | translate}}</li>
</ul>

{{'covid19.questions.symptoms-covid.body.less-symptoms.title' | translate}}

<ul>
    <li>{{'covid19.questions.symptoms-covid.body.less-symptoms.symptoms.one' | translate}}</li>
    <li>{{'covid19.questions.symptoms-covid.body.less-symptoms.symptoms.two' | translate}}</li>
    <li>{{'covid19.questions.symptoms-covid.body.less-symptoms.symptoms.three' | translate}}</li>
    <li>{{'covid19.questions.symptoms-covid.body.less-symptoms.symptoms.four' | translate}}</li>
    <li>{{'covid19.questions.symptoms-covid.body.less-symptoms.symptoms.five' | translate}}</li>
    <li>{{'covid19.questions.symptoms-covid.body.less-symptoms.symptoms.six' | translate}}</li>
</ul>
                
            </div>
          </div>
        </div>
        <div class="accordion-item border-bottom ">
          <h2 class="accordion-header" id="headingThree">
            <label class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              {{'covid19.questions.patient-covid.label' | translate}}
            </label>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <span>{{'covid19.questions.patient-covid.body.one' | translate}}</span>

                <span>{{'covid19.questions.patient-covid.body.two' | translate}}</span>
                
                <span>{{'covid19.questions.patient-covid.body.three' | translate}}</span>
                
            </div>
          </div>
        </div>

        <div class="accordion-item border-bottom ">
            <h2 class="accordion-header" id="headingFour">
              <label class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                {{'covid19.questions.protect-covid.label' | translate}}
              </label>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                {{'covid19.questions.protect-covid.body.one' | translate}}
                <strong>{{'covid19.questions.protect-covid.body.two' | translate}} </strong>
                
              </div>
            </div>
          </div>

          <div class="accordion-item border-bottom ">
            <h2 class="accordion-header" id="headingFive">
              <label class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                {{'covid19.questions.test-covid.label' | translate}}
              </label>
            </h2>
            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <span>{{'covid19.questions.test-covid.body.one' | translate}}</span>

                <span>{{'covid19.questions.test-covid.body.one' | translate}}</span>

              </div>
            </div>
          </div>

          <div class="accordion-item border-bottom ">
            <h2 class="accordion-header" id="headingSix">
              <label class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                {{'covid19.questions.again-covid.label' | translate}}
                </label>
            </h2>
            <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <span> {{'covid19.questions.again-covid.body.one' | translate}}
                </span>
              </div>
            </div>
          </div>

          <div class="accordion-item border-bottom ">
            <h2 class="accordion-header" id="headingSeven">
              <label class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                {{'covid19.questions.rapid-test-covid.label' | translate}}
              </label>
            </h2>
            <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <span>{{'covid19.questions.rapid-test-covid.body.one' | translate}}</span>
              </div>
            </div>
          </div>

          <div class="accordion-item border-bottom ">
            <h2 class="accordion-header" id="headingHeight">
              <label class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseHeight" aria-expanded="false" aria-controls="collapseHeight">
                {{'covid19.questions.treatments-covid.label' | translate}}
            </label>
            </h2>
            <div id="collapseHeight" class="accordion-collapse collapse" aria-labelledby="headingHeight" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <span>{{'covid19.questions.treatments-covid.body.one' | translate}}</span>
                <span>{{'covid19.questions.treatments-covid.body.two' | translate}}</span>
              </div>
            </div>
          </div>
      </div>

      <span class="title">{{'covid19.facts.title' | translate}}</span>

      <div class="timeline">
        
        <div class="ligne"></div>

        <div class="timeline-event-image element-one ">
          <img class="coro-origine" src="../../assets/img/corona-without-bg.png">
        </div>

        <div class="timeline-event-image element-two">
          <img class="coro-old-man" src="../../assets/img/old-man.png">
        </div>

        <div class="timeline-event-image element-three">
          <img class="coro-oms" src="{{'covid19.facts.three.multi.img' | translate}}">
        </div>

        <div class="timeline-event-image element-four">
          <img class="coro-vaccines" src="../../assets/img/covid-vaccins.png">
        </div>


        <div class="timeline-event box1">
          <div class="timeline-event-content ">
            <div class="timeline-event-title">
              {{'covid19.facts.one.date' | translate}}
            </div>
            <div class="timeline-event-description">
              <p>{{'covid19.facts.one.text' | translate}}</p>
            </div>
          </div>
        </div>

        <div class="timeline-event box2">
          <div class="timeline-event-content">
            <div class="timeline-event-title">
              {{'covid19.facts.two.date' | translate}}
            </div>
            <div class="timeline-event-description">
              <p>{{'covid19.facts.two.text' | translate}}</p>
            </div>
          </div>
        </div>
        <div class="timeline-event box3">
          <div class="timeline-event-content">
            <div class="timeline-event-title">
              {{'covid19.facts.three.multi.one.date' | translate}}
            </div>
            <div class="timeline-event-description">
              <p>{{'covid19.facts.three.multi.one.text' | translate}}</p>
            </div>
            <hr>
            <div class="timeline-event-title">
              {{'covid19.facts.three.multi.two.date' | translate}}
            </div>
            <div class="timeline-event-description">
              <p>{{'covid19.facts.three.multi.two.text' | translate}}</p>
            </div>
      
          </div>
        </div>
        <div class="timeline-event box4">
          <div class="timeline-event-content">
            <div class="timeline-event-title">
              {{'covid19.facts.four.multi.one.date' | translate}}
            </div>
            <div class="timeline-event-description">
              <p>{{'covid19.facts.four.multi.one.text' | translate}}</p>
            </div>
            <hr>
            <div class="timeline-event-title">
              {{'covid19.facts.four.multi.two.date' | translate}}
            </div>
            <div class="timeline-event-description">
              <p>{{'covid19.facts.four.multi.two.text' | translate}}</p>
            </div>
            <hr>
            <div class="timeline-event-title">
              {{'covid19.facts.four.multi.three.date' | translate}}
            </div>
            <div class="timeline-event-description">
              <p>{{'covid19.facts.four.multi.three.text' | translate}}</p>
            </div>
          </div>
        </div>
        
      
      </div>

      






















    
</div>
