
.bmac{
    display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 7.5em;
   min-height: 100vh;
}


.content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.title{
    text-decoration: underline;
    font-size: 2.5em;
    font-weight: bolder;
    margin:45px 0;
    color : #161748;
    width: 100%;
    text-align: center;
}



.top-bloc{
    width:100%;
    background-color : #161748;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 5px;
}

.top-bloc span{
    
    font-size: 1.7em;
    font-weight: bolder;
    margin-bottom: 30px;
    text-align:center;
    width: 100%;
}

.middle-bloc{
    display: flex;
    justify-content: space-between;
    margin: 60px 0 50px 0;
}

.middle-bloc > img{
    object-fit: cover;
    height: 400px;
    width: 350px;
    border-radius: 5px;
}

.reasons{
    width: 60%;
}

  .coffee{
    padding: 0.5em;
    border-radius: 6px;
    background-color: rgb(209, 49, 84);
    cursor: pointer;
    color: white;
    margin-top: 15px;

    
}

.coffee-cup{
    height:1.23em;
    margin: auto;
}
  

  .title2{
    font-size: 2em;
    font-weight: bolder;
    margin-bottom: 2%;
    margin-top: 3%;
    color : #161748;

}

.secutity-text{
    width:80%;
}

.about-mbc{
    color: blue;
    cursor: pointer;
}
  
  .security{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width:100%;
    align-items: flex-start;
    margin-bottom: 100px;
}


.group{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin-left: 2vh;
    margin-right: 2vh;
    margin-top: 2vh;
}

.img1{
    width:60px; 
    height:50px; 
    margin-bottom:15px;
}

.img3,.img2{
    width:50px; 
    height: 50px; 
    margin-bottom:15px;
}



@media all and (max-width: 1056px){


    .title{
        font-size: 2em;
        margin:35px 0;

    }

}


@media all and (max-width: 1007px){
    
    .bmac{
        margin-top: 6em;
    }

    .reasons{
        width: 53%;
    }

}


@media all and (max-width: 844px){
    
    .middle-bloc{
        flex-direction: column-reverse;
    }

    .middle-bloc > img{
        width: 100%;
        height: 300px;
    }

    .reasons{
        width: 100%;
        margin-bottom: 60px;
    }

}


@media all and (max-width: 718px){

    .right-bloc{
        width:100%;
    }

    .bmac{
        margin-top: 5em;
    }

    .title{
        font-size:1.8em ;
    }

}

@media all and (max-width: 588px){

    .title2{
        font-size: 1.5em;
    }

    .img1{
        width:40px; 
        height:40px; 
        margin-bottom:15px;
    }
    
    .img3,.img2{
        width:30px; 
        height: 40px; 
        margin-bottom:15px;
    }

}


@media all and (max-width: 430px){

   .bmac{
        margin-top:4.5em;
        font-size: 0.95em;
    }
}

