<div class="header container-fluid">

  <div class="header_left">
    <div class="header_left_image"></div>
    <div class="header_left_text">
      <strong>Covid19</strong>
      <strong>World's Status</strong>
    </div>
  </div>
  <div class="header_right">
    <div class="header_right_nav">
      <a routerLink=""> <strong>World's Stats</strong> </a>
      <a routerLink="/map" routerLinkActive="active"><strong>Map</strong></a>
      <a routerLink="/about" routerLinkActive="active"><strong>About</strong></a>
      <a routerLink="/covid19"><strong>Covid-19</strong></a>
      <a routerLink="/buy-me-a-coffee"><strong>Buy Me A Coffee</strong></a>
    </div>

      <input matInput  class="header_right_input" type="text" placeholder="Enter the country name here ...">

  </div>

</div>


<router-outlet></router-outlet>

<div class="footer container-fluid">

  <div class="footer-top">
  <div class="footer-bloc">
    <span class="footer-title">CONTACT</span>
    <span>sscovid19.contact@gmail.com</span>
    <span>You can contact me for job opportunity</span>
  </div>
  <div class="footer-bloc">
    <span class="footer-title">FOLLOW</span>
    <a href="https://twitter.com/sscovid191" target="_blank"><img style="width: 20px; height: 20px;" src="../assets/img/twitter.png"></a> 
   <a href="https://www.instagram.com/zrotof_/" target="_blank"><img style="width: 20px;height: 20px;" src="../assets/img/instagram.png"></a> 
  </div>
  <div class="footer-bloc">
    <span class="footer-title">LEGAL</span>
    <a routerLink="/disclaimers" style="cursor: pointer; text-decoration: none; color:white;" >Disclaimer & Privacy Policy</a>
    <a >Terms of use</a>
  </div>
</div>
<span class="footer-bottom">&copy; Copyright 2020 Samuel Mandeng. All Rights Reserved</span>
</div>