<div class="header container-fluid">

  <div class="header_left">
    <div class="header_left_image"></div>
    <div class="header_left_text">
      <strong>Covid19</strong>
      <strong>World's Status</strong>
    </div>
  </div>
  <div class="header_right">
    <div class="header_right_nav">
      <a routerLink=""> <strong>World's Stats</strong> </a>
      <a routerLink="/world-map" routerLinkActive="active"><strong>Map</strong></a>
      <a routerLink="/about-us" routerLinkActive="active"><strong>About Us</strong></a>
      <a routerLink="/disclaimers"><strong>Disclaimers</strong></a>
      <a routerLink="/buy-me-acoofee"><strong>Buy Me A Coffee</strong></a>
    </div>

    <input class="header_right_input" type="text" placeholder="Enter the country name here ...">


  </div>

</div>

<div class="greetings">
  <span>Welcome to you,</span>
  <span>You can access data on the evolution of the corona virus worldwide. We strive to update our data regularly. 
        (*)<strong>Don't forget to wear a mask and barrier gestures.</strong></span>
    
    <span>Last update :  </span>
</div>


<div class="Globals">

  <div class="Spinning_earth">
    <div class="earth"></div>
  </div>
  <div class="Cases RCD">
    <img src="../assets/img/coro_cases.png" alt="confirmed man logo">
    <span><strong>123456765</strong></span>
    <span><strong>Total Confirmed Cases</strong></span>
  </div>

  <div class="ReCrDe ">

    <div class="Recovered">
      <img src="../assets/img/coro_rescue.png" alt="rescued man logo">
      <div>
        <span><strong>Total Recovered</strong></span>
        <span><strong>123456765</strong></span>
      </div>
    </div>

    <div class="Criticals RCD">
      <img src="../assets/img/coro_critical.png" alt="criticalsman logo">
      <div>

        <span><strong>Total Criticals</strong></span>
        <span><strong>123456765</strong></span>
      </div>
    </div>

    <div class="Deaths RCD">
      <img src="../assets/img/coro_deaths.png" alt="deaths man logo">
      <div>

        <span><strong>Total Deaths</strong></span>
        <span><strong>123456765</strong></span>
      </div>
    </div>

  </div>


  <div class="Table"></div>

</div>




<router-outlet></router-outlet>
