.header{
    
    background-color: #161748;
    height: 13%;
    display:flex;
    justify-content: space-between;
    color: whitesmoke;
    width: 100%;
}




.header_left:nth-child(1){
    display: flex;
    padding-left:1%;
    width:20%;
    flex:1;
}

.header_left_image{
    background: url("../assets/img/coro_logo.jpg") no-repeat center /cover;
    width: 35%;

}

.header_left_text{
    display: flex;
    flex-direction: column;
    height:100%;
    width: 65%;
    justify-content: center;
    font-size: 22px;

}
.header_left_text > strong{
    margin: 3% ;

}


.header_right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right:1%;
    flex : 4;
    height: 100%;
    
}

.header_right_nav{
    width:50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:50%;
  
    align-content: center;

}

.header_right_nav a{

    height: 70%;
    display: flex;
    align-items: center;    
    text-decoration: none;
    font-size: larger;
    color: whitesmoke;
}

.header_right_nav a:hover{

    background-color: whitesmoke;
    color: rgb(185, 38, 38);
}

.header_right_input{
    width: 50%;
    height: 37%;

}
