<div class="header container-fluid">

  <div class="header_left">
    <div class="header_left_image"></div>
    <div class="header_left_text">
      <strong>Covid19</strong>
      <strong>World's Status</strong>
    </div>
  </div>
  <div class="header_right">
    <div class="header_right_nav">
      <a routerLink=""> <strong>World's Stats</strong> </a>
      <a routerLink="/world-map" routerLinkActive="active"><strong>Map</strong></a>
      <a routerLink="/about-us" routerLinkActive="active"><strong>About</strong></a>
      <a routerLink="/disclaimers"><strong>Disclaimers</strong></a>
      <a routerLink="/buy-me-acoofee"><strong>Buy Me A Coffee</strong></a>
    </div>

      <input matInput  class="header_right_input" type="text" placeholder="Enter the country name here ...">

  </div>

</div>


<router-outlet></router-outlet>

<div class="footer container-fluid">

  <div class="footer-top">
  <div class="footer-bloc">
    <span class="footer-title">CONTACT</span>
    <span>sscovid19.contact@gmail.com</span>
    <span>You can contact me for job opportunity</span>
  </div>
  <div class="footer-bloc">
    <span class="footer-title">FOLLOW</span>
    <span>Twitter</span>
    <span>Instagram</span>
  </div>
  <div class="footer-bloc">
    <span class="footer-title">LEGAL</span>
    <span>Disclaimer & Privacy Policy</span>
  </div>
</div>
<span class="footer-bottom">&copy; Copyright 2020 Samuel Mandeng. All Rights Reserved</span>
</div>