.graphs{
    margin-top: 7.5em;
    display:flex;
    flex-direction: column;
    width:100%;
    justify-content: center;
    align-items: center;
    padding-bottom: 1em;

}

.title-top{
    text-decoration: underline;
    font-size: 2.5em;
    font-weight: bolder;
    margin-bottom: 45px;
    margin-top: 45px;
    color:#162a48;
    text-align: center;
}

.question-title{
    text-align: center;
    margin-top: 1em;
    font-weight: bold;
    font-size: 1.3em;
}


  /*Carousel*/
  .carrousel {
    background: #ffffff;
    text-align: center;
    padding: 0.5em;
    width: 750px;
    margin: auto;
    position: relative;
    overflow: hidden;
    border-radius: 10px ;
    border: solid #161748;
  }

  
  .carrousel .slides {
    width: 500%;
    left: 0;
    padding-left: 0;
    padding-top: 1em;
    overflow: hidden;
    list-style: none;
    position: relative;

    transition: transform .5s;
  }

  .carrousel .slides li {
    width: 20%;
    position: relative;
    float: left;
  }

  .carrousel li p{
    margin-top: 0;
    padding: 0.5em;  
  }

  .carrousel .slidesNavigation {
    display: block;
    list-style: none;
    text-align: center;
    bottom: 1em;
      position: absolute; 
     left: 50%;
      margin-left: -52px; 
  }
  .carrousel input {
    display: none;
  }
  
  .carrousel .slidesNavigation label {
    float: left;
    margin: 6px;
    display: block;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: solid 2px #161748;
    font-size: 0;
  }
  #radio-1:checked ~ .slides {
    transform: translateX(0%);
  }
  #radio-2:checked ~ .slides {
    transform: translateX(-20%);
  }
  #radio-3:checked ~ .slides {
    transform: translateX(-40%);
  }
  #radio-4:checked ~ .slides {
    transform: translateX(-60%);
  }
  #radio-5:checked ~ .slides {
    transform: translateX(-80%);
  }
  
  .carrousel .slidesNavigation label:hover {
     cursor: pointer;
  }

  .carrousel #radio-1:checked ~ .slidesNavigation label#dotForRadio-1,
  .carrousel #radio-2:checked ~ .slidesNavigation label#dotForRadio-2,
  .carrousel #radio-3:checked ~ .slidesNavigation label#dotForRadio-3,
  .carrousel #radio-4:checked ~ .slidesNavigation label#dotForRadio-4,
  .carrousel #radio-5:checked ~ .slidesNavigation label#dotForRadio-5  {
    background: #161748;
  }

















#worldMap {
    margin-top: 5em;
    width: 100%;
    height: 38em;
    margin-bottom: 2em;
    display: flex;
    justify-content: center;
    align-items: center;

}


.some-data{
    padding-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:100%;
    align-items: center;
    background-color: #161748;
    color: #ffffff;
}

.some-data-content{
    width:100%; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    text-align: center;
    margin-bottom: 3%;
}


.some-data-content-flag{
    width: 100px; 
    height: 70px; 
    margin-right: 1%;
    border-radius: 4px;
}

.some-data-content-text{
    display:flex; 
    flex-direction: column; 
    justify-content: center;
}

.some-data-content-text:nth-child(2){
    text-align: left;
}



.title{
    font-size: 2em;
    font-weight: bolder;
    color : white;

}

.table-personalised{
    margin-bottom: 4%;
    overflow: hidden;
    width: 50%;
    text-align: center;
}

.table-text-skyblue{
    color:skyblue;
}

.table-text-green{
    color:green;
}

.table-text-red{
    color:red;
}


.percentage-bloc{
    display: flex;
    justify-content: space-around;
    width:100%;
    margin-bottom: 2%;

}

.percentage-bloc-title{
    font-size: 1.3em;
    margin-bottom: 2%;
    margin-top:1em;

}

.bloc{
    display:flex;
    flex-direction: column;
}

.chart {
    margin-top:1%;
    padding-top:2%;
    padding-bottom: 2%;
    width: 100%;
    height: 60vh;
    background-color: #f4f4f8;
    z-index: 0;
}

.data-bloc{
    display: flex;
    justify-content: space-around;
    width:100%;
}


.last{
    width:100%; 
    border-top: solid white;
}

@media all and (max-width: 1170px){

    .graphs{
        padding-top: 0em;
    }
    
    #worldMap {
        margin:0em
    }

  
}

@media all and (max-width: 1056px){

    .title-top{
        font-size: 2em;
        margin-bottom: 0;
    }

    .carrousel .slides {
        padding-top: 0.5em;
      }
}


@media all and (max-width: 952px){


    #worldMap {
        height:38em;
    }

  
}

@media all and (max-width: 928px){

    .table-personalised{
        width: 80%;
    }

  
}

@media all and (max-width: 904px){
    .title-top{
        font-size: 2em;
    }
}

@media all and (max-width: 850px){

    .percentage-bloc{
        flex-wrap: wrap;
        justify-content: center;
    }

    .bloc{
        margin-left: 1em;
        margin-right:1em;
    }

    .percentage-bloc-title{
        font-size: 1.1em ;

    }

}


@media all and (max-width: 780px){

    .carrousel {
        width: 100%;

    margin-left: 0.5em;
    margin-right: 0.5em;
      }

      .question-title{
        margin-top: 0.5em;
        font-size: 1.2em;
    }
}


@media all and (max-width: 768px){

    #worldMap {
        height:30em;
    }
}

@media all and (max-width: 718px){

    .title-top{
        font-size:1.8em ;
    }
}

@media all and (max-width: 604px){

    #worldMap {
        height:22em;
    }

    .carrousel .slidesNavigation label {
        height: 12px;
        width: 12px;
      }

      
}

@media all and (max-width: 585px){

    .table-personalised{
        width: 100%;
    }

    .some-data-content-flag{
        width: 70px; 
        height: 50px; 
    }

    .title{
        font-size: 1.5em;
    }

}

@media all and (max-width: 455px){

   

    .title{
        font-size: 1.3em;
        text-align: center;
        margin-top: 0.7em;
    }

    .some-data-content-text:nth-child(){
        font-size: 0.8em;
    }


    .bloc{
        text-align: center;
    }

    .some-data-content{
        flex-direction: column;
    }

    .some-data-content-text{
        text-align: center;
        justify-content: center;
    }

}

@media all and (max-width: 456px){

    .graphs{
        font-size: 0.8em;
    }

  
}

@media all and (max-width: 430px){

    .graphs{
        margin-top:4.5em;
    }

    #worldMap {
        height:25em;
        width: auto;
    }
  
}

@media all and (max-width: 395px){

    .graphs{
        overflow: hidden;
    }

    .table-personalised{
        overflow-x: scroll;
    }
  
}

@media all and (max-width: 377px){


    .graphs{
        font-size: 0.8em;
    }
    #worldMap {
        height:20em;
        width: auto;
    }
  
}

@media all and (max-width: 340px){


    table{
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }

}

@media all and (max-width: 320px){

    #worldMap {
        height:18em;
        width: auto;
    }
  
}



