<div class="graphs">
  
  <div class="content my-container">


    <span class="title-top"> Maps </span>

    <div  class="slide-bloc">
    

  <span class="question-title">{{'map.instructions.title'| translate}}</span>						
  
  
  <div id="carrousel" class="carousel slide " data-bs-ride="carousel">
  
  
    <div class="carousel-inner ">
      <div class="carousel-item active slide">
        <p>{{'map.instructions.messages.one'| translate}}</p>
      </div>
      <div class="carousel-item slide ">
        <p>{{'map.instructions.messages.two'| translate}}</p>
      </div>
      <div class="carousel-item slide">
        <p>{{'map.instructions.messages.three'| translate}}</p>
      </div>
      <div class="carousel-item slide ">
        <p>{{'map.instructions.messages.four'| translate}}</p>
      </div>
      <div class="carousel-item slide">
        <p>{{'map.instructions.messages.five'| translate}}</p>
      </div>
    </div>
  
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carrousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carrousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carrousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carrousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carrousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
    </div>
  
    <button class="carousel-control-prev" type="button" data-bs-target="#carrousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carrousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  
  </div>		
  
    
      <div id="worldMap">
        <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    
    <div [ngClass]="{'chart':isACountryIsClicked}" class="chart" #countryHistoricalGlobalDataChart></div>
    <div [ngClass]="{'chart':isACountryIsClicked}" class="chart" #countryHistoricalVaccinesChart></div>
    
    <div *ngIf ="!isACountryIsClicked" class="chart" id="worldHistoricalChart"></div>
    <div *ngIf ="!isACountryIsClicked" class="chart" id="worldVaccineChart"></div>
    


  </div>

</div>