<div class="page-not-found">
    <div class="text">
        <span>404</span>
        <span >Oops! Look like this page is infected by corona virus ...</span>
    </div>
    <div class="coro-weaked-img">
        <img class="child1" src="../../../assets/img/coro-logo.png" alt="small image of corona">
        <img class="boss" src="../../../assets/img/coro-laugth.png" alt="laughing corona image">
        <img class="child2" src="../../../assets/img/coro-medium.png" alt="small image of corona">

    </div>

    <div class="redirect">
        <span>Please go back to a safe place by clicking here</span> 
        <span class="redirect-to-home"routerLink="/" > Safe place</span>

    </div>
</div>
