.graphs{
    margin-top: 7.5em;
    display:flex;
    flex-direction: column;
    width:100%;
}

.title-top{
    text-decoration: underline;
    font-size: 2.5em;
    font-weight: bolder;
    margin-bottom: 45px;
    margin-top: 45px;
    color:  #161748;
    text-align: center;
}
  
#worldMap {
    width: 100%;
    height: 45em;
}


.some-data{

    padding-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:100%;
    align-items: center;
    background-color: #161748;
    color: white;

}

.some-data-content{
    width:100%; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    text-align: center;
    margin-bottom: 3%;
}


.some-data-content-flag{
    width: 100px; 
    height: 70px; 
    margin-right: 1%;
    border-radius: 4px;
}

.some-data-content-text{
    display:flex; 
    flex-direction: column; 
    justify-content: center;
}

.some-data-content-text:nth-child(2){
    text-align: left;
}



.title{
    font-size: 2em;
    font-weight: bolder;
    color : white;

}

.table-personalised{
    margin-bottom: 4%;
}

.table-text-skyblue{
    color:skyblue;
}

.table-text-green{
    color:green;
}

.table-text-red{
    color:red;
}


.percentage-bloc{
    display: flex;
    justify-content: space-around;
    width:100%;
    margin-bottom: 2%;

}

.percentage-bloc-title{
    font-size: 1.3em;
    margin-bottom: 2%;
    margin-top:1em;

}

.bloc{
    display:flex;
    flex-direction: column;
}

.chart {
    margin-top:1%;
    padding-top:2%;
    padding-bottom: 2%;
    width: 100%;
    height: 60vh;
    background-color: #f4f4f8;
    z-index: 0;
}

.data-bloc{
    display: flex;
    justify-content: space-around;
    width:100%;
}
.table{
    width: 50%;
    text-align: center;
}

.last{
    width:100%; 
    border-top: solid white;
}

@media all and (max-width: 928px){

    .table-personalised{
        width: 80%;
    }

  
}

@media all and (max-width: 850px){

    .percentage-bloc{
        flex-wrap: wrap;
        justify-content: center;
    }

    .bloc{
        margin-left: 1em;
        margin-right:1em;
    }

    .percentage-bloc-title{
        font-size: 1.1em ;

    }



  
}

@media all and (max-width: 585px){

    .table-personalised{
        width: 100%;
    }

    .some-data-content-flag{
        width: 70px; 
        height: 50px; 
    }

    .title{
        font-size: 1.5em;
    }

}

@media all and (max-width: 455px){

    .title{
        font-size: 1.3em;
        text-align: center;
        margin-top: 0.7em;
    }

    .some-data-content-text:nth-child(){
        font-size: 0.8em;
    }


    .bloc{
        text-align: center;
    }

    .some-data-content{
        flex-direction: column;
    }

    .some-data-content-text{
        text-align: center;
        justify-content: center;
    }

}