.graphs{
    display:flex;
    flex-direction: column;
    width:100%;
    background-color: #f4f4f8;
    padding-top: 5%;
    padding-bottom: 5%;
}
  
#mapdiv {
    padding-top:2%;
    padding-bottom: 2%;
    width: 100%;
    height: 60vh;
    padding-left:9%;
    padding-right:9%;
}


.some-data{

    padding-top: 2%;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: space-around;
    width:100%;
    align-items: center;
    background-color: #161748;

}

.title{
    font-size: 2em;
    font-weight: bolder;
    color : white;

}

.percentage-bloc{
    display: flex;
    justify-content: space-around;
    width:100%;
    margin-bottom: 2%;

}

.percentage-bloc-title{
    font-size: 1.3em;
    margin-bottom: 2%;

}

.bloc{
    display:flex;
    flex-direction: column;
}

#worldgraphdiv {
    margin-top:1%;
    padding-top:2%;
    padding-bottom: 2%;
    width: 100%;
    height: 60vh;
    background-color: #f4f4f8;
}

.data-bloc{
    display: flex;
    justify-content: space-around;
    width:100%;
}
.table{
    width: 50%;
    text-align: center;
}