<div class="graphs">
  <div id="worldMap"></div>

  <div *ngIf="view" class="some-data">

    <div *ngIf="countryGlobals" class="some-data-content" >
      <img  class="some-data-content-flag" src="{{countryGlobals.countryInfo.flag}}">
      <div class="some-data-content-text">
        <span class="title">{{countryGlobals.country | uppercase}} GLOBAL DATA</span>
        <span >Last update: {{countryGlobals.updated | date:'EEEE, MMMM d, y, h:mm a'}} </span>
      </div>
    </div>

    <table class="table table-bordered table-dark table-personalised">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Cases</th>
          <th scope="col">Recovered</th>
          <th scope="col">Active</th>
          <th scope="col">Deaths</th>
        </tr>
      </thead>
      <tbody *ngIf="countryGlobals">
        <tr>
          <th scope="row">Total</th>
          <td>{{countryGlobals.cases | number}}</td>
          <td>{{countryGlobals.recovered | number}} </td>
          <td>{{countryGlobals.active | number}}</td>
          <td>{{countryGlobals.deaths | number}}</td>

        </tr>
        <tr>
          
          <th scope="row">Data of today</th>
          <td class="table-text-skyblue">+ {{countryGlobals.todayCases | number}}</td>
          <td class="table-text-green">+ {{countryGlobals.todayRecovered | number}}</td>
          <td> / </td>
          <td class="table-text-red">+ {{countryGlobals.todayDeaths | number}}</td>
        </tr>
      </tbody>
    </table>


    <div *ngIf="countryGlobals" class="percentage-bloc">

      <div class="bloc">
        <span class="percentage-bloc-title">TEST PERCENTAGE</span>
        <span>Population: {{ countryGlobals['population'] | number }}</span>
        <span>Tests: {{ countryGlobals['tests'] | number }} </span>
        <span class="last">{{ countryGlobals['tests']/ countryGlobals['population'] | percent:'2.2' }}
          of the population has been tested</span>
      </div>
      <div class="bloc">
        <span class="percentage-bloc-title" >RECOVERED PERCENTAGE</span>
        <span>Cases: {{ countryGlobals['cases'] | number }} </span>
        <span>Recovered: {{ countryGlobals['recovered'] | number }} </span>
        <span class="last">{{ countryGlobals['recovered'] / countryGlobals['cases'] | percent:'2.2' }}
          of sick people recover</span>
      </div>
      <div class="bloc">
        <span class="percentage-bloc-title">DEATHS PERCENTAGE</span>
        <span>Cases: {{ countryGlobals['cases'] | number }} </span>
        <span>Deaths: {{ countryGlobals['deaths'] | number }} </span>
        <span class="last">{{ countryGlobals['deaths'] / countryGlobals['cases'] | percent:'2.2' }}
          of sick people die</span>
      </div>


    </div>


  </div>


  <div [ngClass]="{'chart':view}" class="chart" #countryHistoricalChart></div>





  <div *ngIf="!view" class="some-data">

    <div *ngIf="worldNumbers" class="some-data-content">
      <img class="some-data-content-flag" src="../../assets/img/earth.jpg">
      <div  class="some-data-content-text">
        <span class="title">WORLD GLOBAL DATA</span>
        <span >Last update: {{worldNumbers[0].updatedAt | date:'EEEE, MMMM d, y, h:mm a'}}</span>
      </div>
    </div>

    <table class="table table-bordered table-dark table-personalised">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Cases</th>
          <th scope="col">Recovered</th>
          <th scope="col">Active</th>
          <th scope="col">Deaths</th>
        </tr>
      </thead>
      <tbody *ngIf="worldNumbers">
        <tr>
          <th scope="row">Total</th>
          <td>{{worldNumbers[0].wCases | number}}</td>
          <td>{{worldNumbers[0].wRecovered | number}} </td>
          <td>{{worldNumbers[0].active | number}}</td>
          <td>{{worldNumbers[0].wDeaths | number}}</td>

        </tr>
        <tr>
          <th scope="row">Data of today</th>
          <td class="table-text-skyblue">+ {{worldNumbers[0].wToDayCases | number}}</td>
          <td class="table-text-green">+ {{worldNumbers[0].wToDayRecovered | number}}</td>
          <td> / </td>
          <td class="table-text-red">+ {{worldNumbers[0].wToDayDeaths | number}}</td>

        </tr>
      </tbody>
    </table>


    <div *ngIf="worldNumbers" class="percentage-bloc">
      <div class="bloc">
        <span class="percentage-bloc-title" >TEST PERCENTAGE</span>
        <span>Population: {{ worldNumbers[0].wPopulation | number }}</span>
        <span>Tests: {{ worldNumbers[0].wTests | number }} </span>
        <span class="last">{{ worldNumbers[0].wTests / worldNumbers[0].wPopulation | percent:'2.2' }}
          of the population has been tested</span>
      </div>
      <div class="bloc">
        <span class="percentage-bloc-title" >RECOVERED PERCENTAGE</span>
        <span>Cases: {{ worldNumbers[0].wCases | number }} </span>
        <span>Recovered: {{ worldNumbers[0].wRecovered | number }} </span>
        <span class="last">{{ worldNumbers[0].wRecovered / worldNumbers[0].wCases | percent:'2.2' }}
          of sick people recover</span>
      </div>
      <div class="bloc">
        <span class="percentage-bloc-title">DEATHS PERCENTAGE</span>
        <span>Cases: {{ worldNumbers[0].wCases | number }} </span>
        <span>Deaths: {{ worldNumbers[0].wDeaths | number }} </span>
        <span class="last">{{ worldNumbers[0].wDeaths / worldNumbers[0].wCases | percent:'2.2' }}
          of sick people die</span>

      </div>

    </div>


    <div class="chart" id="worldHistoricalChart"></div>

  </div>

</div>