<div class="graphs">
    <div id="mapdiv"></div>
    <div class="graph">
        <div class="some-data">
            <div class="bloc-test bloc">
                <span style="margin-bottom: 4%;">TEST PERCENTAGE</span>
                <span>Population:</span>
                <span>Tests:</span>
            </div>
            <div class="bloc-recovered bloc">
                <span style="margin-bottom: 5%;">RECOVERED PERCENTAGE</span>
                <span>Cases:</span>
                <span>Recovered:</span>
            </div>
            <div class="bloc-deaths bloc">
                <span style="margin-bottom: 5%;">DEATHS PERCENTAGE</span>
                <span>Cases:</span>
                <span>Deaths:</span>
            </div>
        </div>
        <div id="graphdiv"></div>
    </div>
    
</div>