<div class="graphs">
    <div id="mapdiv"></div>

    <div class="some-data" *ngIf="countryGlobals; else elseBlock">
        <div style="width:100%; display: flex; align-items: center; justify-content: center; text-align: center;"><img style="width:100px; height:70px; margin-right: 1%;" src="{{countryGlobals.countryInfo.flag}}"><span class="title">{{countryGlobals['country'] | uppercase}} GLOBAL DATA</span></div>
        
        
        
        <table class="table table-bordered table-dark">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Cases</th>
                <th scope="col">Recovered</th>
                <th scope="col">Sick</th>
                <th scope="col">Deaths</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Total</th>
                <td>{{countryGlobals.cases | number}}</td>
                <td>{{countryGlobals.recovered | number}} </td>
                <td>{{countryGlobals.active | number}}</td>
                <td>{{countryGlobals.deaths | number}}</td>

              </tr>
              <tr>
                <th scope="row">Data of today</th>
                <td style="color: skyblue;">+ {{countryGlobals.todayCases | number}}</td>
                <td style="color:green">+ {{countryGlobals.todayRecovered | number}}</td>
                <td> / </td>
                <td style="color: red;">+ {{countryGlobals.todayDeaths | number}}</td>

              </tr>
            </tbody>
          </table>
        
        
        <div class="percentage-bloc">

            <div class="bloc">
                <span style="margin-bottom: 4%;">TEST PERCENTAGE</span>
                <span>Population: {{ countryGlobals['population'] | number }}</span>
                <span>Tests: {{ countryGlobals['tests'] | number }} </span>  
                <span style="width:100%; border-top: solid white;">{{ countryGlobals['tests']/ countryGlobals['population'] | percent:'2.2' }} of the population has been tested</span>          
            </div>
            <div class="bloc">
                <span style="margin-bottom: 5%;">RECOVERED PERCENTAGE</span>
                <span>Cases: {{ countryGlobals['cases'] | number }} </span>
                <span>Recovered: {{ countryGlobals['recovered'] | number }} </span>            
                <span style="width:100%; border-top: solid white;">{{ countryGlobals['recovered'] / countryGlobals['cases'] | percent:'2.2' }} of sick people recover</span>          
            </div>
            <div class="bloc">
                <span style="margin-bottom: 5%;">DEATHS PERCENTAGE</span>
                <span>Cases: {{ countryGlobals['cases'] | number }} </span>
                <span>Deaths: {{ countryGlobals['deaths'] | number }} </span>
                <span style="width:100%; border-top: solid white; text-align: center;">{{ countryGlobals['deaths'] / countryGlobals['cases'] | percent:'2.2' }} of sick people die</span>          
            </div>

            

        </div>
    </div>

    <div *ngIf="!view" style="margin-top:1%;padding-top:2%;padding-bottom: 2%;width: 100%;height: 60vh;background-color: #f4f4f8;" id="countrygraphdiv"></div> 
    <ng-template #elseBlock>
        <div class="some-data" *ngFor="let world of worldNumbers">
            <span class="title">WORLD GLOBAL DATA</span>


            <table class="table table-bordered table-dark">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">Cases</th>
                    <th scope="col">Recovered</th>
                    <th scope="col">Sick</th>
                    <th scope="col">Deaths</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">Total</th>
                    <td>{{world.wCases | number}}</td>
                    <td>{{world.wRecovered | number}} </td>
                    <td>{{world.active | number}}</td>
                    <td>{{world.wDeaths | number}}</td>
    
                  </tr>
                  <tr>
                    <th scope="row">Data of today</th>
                    <td style="color: skyblue;">+ {{world.todayCases | number}}</td>
                    <td style="color:green">+ {{world.todayRecovered | number}}</td>
                    <td> / </td>
                    <td style="color: red;">+ {{world.todayDeaths | number}}</td>
    
                  </tr>
                </tbody>
              </table>




            <div class="percentage-bloc">
                <div class="bloc">
                    <span style="margin-bottom: 4%;">TEST PERCENTAGE</span>
                    <span>Population: {{ world.wPopulation | number }}</span>
                    <span>Tests: {{ world.wTests | number }} </span>  
                    <span style="width:100%; border-top: solid white;">{{ world.wTests / world.wPopulation | percent:'2.2' }} of the population has been tested</span>          
                </div>
                <div class="bloc">
                    <span style="margin-bottom: 5%;">RECOVERED PERCENTAGE</span>
                    <span>Cases: {{ world.wCases | number }} </span>
                    <span>Recovered: {{ world.wRecovered | number }} </span>            
                    <span style="width:100%; border-top: solid white;">{{ world.wRecovered / world.wCases | percent:'2.2' }} of sick people recover</span>          
    
                </div>
                <div class="bloc">
                    <span style="margin-bottom: 5%;">DEATHS PERCENTAGE</span>
                    <span>Cases: {{ world.wCases | number }} </span>
                    <span>Deaths: {{ world.wDeaths | number }} </span>
                    <span style="width:100%; border-top: solid white; text-align: center;">{{ world.wDeaths / world.wCases | percent:'2.2' }} of sick people die</span>          
    
                </div>
            </div>
        </div>

    </ng-template>

        <div id="worldgraphdiv">ok oui oui</div>
    

    
</div>