.parent{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #161748;
    color: black;
    margin-top: 7.5em;
}

.disclaimers{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    text-align: justify;
    
    padding-bottom: 3%;
    background-color: white;
    margin-bottom: 2em;
}

.disclaimers p{
    padding-left: 4%;
    padding-right: 4%;

}
.disclaimers ul{
    margin-left: 5%;
    margin-right: 5%;
}


.content{
    position: relative;
    height: 7.5em;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    color: white;

  margin-bottom: 5%;

}

.content:before{
    content:"";
    position: absolute;
    height:100%;
    width: 100%;

    background: #161748;
    border-radius: 0 0 50% 50%/0 0 100% 100%;
    transform: scaleX(1.5);
    display: flex;
    justify-content: center;
    text-align: center;
} 


.title{
    position: absolute;
    text-decoration: underline;
    font-size: 2.5em;
    font-weight: bolder;
    margin-bottom: 45px;
    margin-top: 45px;
    color : white;
}


@media all and (max-width: 1056px){
    

    .title{
        font-size: 2em;
        margin-bottom: 0;
    }

}

@media all and (max-width: 1007px){
    
    .parent{
        margin-top: 6em;
    }

}

@media all and (max-width: 950px){
    
    .parent{
        padding-left: 0.3em;
        padding-right: 0.3em;
    }
    .disclaimers{
        width: 100%;

    }

}

@media all and (max-width: 718px){
    
    .parent{
        margin-top: 5em;
    }

    .title{
        font-size:1.8em ;
    }

}

@media all and (max-width: 430px){

    .parent{
         margin-top:4.5em;
         font-size: 0.8em;
     }
 }

