<div class="parent">
    <div class="disclaimers">
        <div class="content">
            <span class="title">{{'disclaimers.title' | translate}}</span>
        </div>

        <p>
            {{'disclaimers.introduction' | translate}}
        </p>
        <p class="subtitle">
            {{'disclaimers.aggreement-advice.title' | translate}}
        </p>

        <p>
            {{'disclaimers.aggreement-advice.a.one' | translate}}
        </p>

        <p>
            {{'disclaimers.aggreement-advice.b.one' | translate}}
        </p>

        <p>
            {{'disclaimers.aggreement-advice.c.one' | translate}}
        </p>
        
            <ul>
                <li>{{'disclaimers.aggreement-advice.c.two' | translate}}</li>
                <li>{{'disclaimers.aggreement-advice.c.three' | translate}}</li>
            </ul>
        
        <p class="subtitle">
            {{'disclaimers.responsability.title' | translate}}
        </p>
        <p>{{'disclaimers.responsability.one' | translate}}</p>
        <p>{{'disclaimers.responsability.two' | translate}}</p>
        <p>{{'disclaimers.responsability.three' | translate}}</p>
    </div>
</div>