<div class="greetings">
        <span class="date-update">Last update :  {{ worlds[0].wDate | date:'EEEE, MMMM d, y, h:mm a' }}</span>
        <!-- <span class="change">,</span>
        -->
        <div class="globals-text">
          <h1 class="globals-text-title">World's Global Data About Covid-19</h1>
          <div class="globals-text-content">
            <span>Unfortunately, the SARS-Cov2 corona virus continues to claim thousands of victims around the world, despite the many measures taken to stop its spread. Below is a global overview of the situation presented by continent and by world.</span>
            <div>
              <ul>
                <li class="confirmed-cases">Number of confirmed cases</li>
                <li class="recovered-cases">Number of recovered people</li>
              </ul>
              
              <ul>
                <li class="criticals-cases">Number of people with criticals cases</li>
                <li class="death-cases">Number of dead people</li>
              </ul>
            </div>
            
        
          </div>
        </div>
        <span class="recommendations">(*) Don't forget to wear a mask, apply barrier gestures and use hydro-alcoholic gels.</span>
        
</div>
  
  


<div class="globals" *ngFor="let world of worlds">

    <div class="Spinning_earth">
      <div class="earth"></div>
    </div>
    
    <div class="Cases RCD">
      <img src="../assets/img/coro_cases.png" alt="confirmed man logo">
      <span class="number"><strong>{{ world.wCases | number }}</strong></span>
      <span><strong>Total Confirmed Cases</strong></span>
    </div>
  
    <div class="ReCrDe">
  
      <div class="Recovered">
        <img src="../assets/img/coro_rescue.png" alt="rescued man logo">
        <div>
          <span><strong>Total Recovered</strong></span>
          <span  class="number"><strong>{{world.wRecovered | number}}</strong></span>
        </div>
      </div>
  
      <div class="Criticals RCD">
        <img src="../assets/img/coro_critical.png" alt="criticals man logo">
        <div>
          <span><strong>Total Criticals</strong></span>
          <span  class="number"><strong>{{world.wCritical | number}}</strong></span>
        </div>
      </div>
  
      <div class="Deaths RCD">
        <img src="../assets/img/coro_deaths.png" alt="deaths man logo">
        <div>
          <span><strong>Total Deaths</strong></span>
          <span  class="number"><strong>{{world.wDeaths | number}}</strong></span>
        </div>
      </div>

    </div>

    <div class="continents">
      <div class="titles">
        <div class="titles-medium ">Continents</div>
        <div class="titles-max " ><img  src="../assets/img/coro_cases.png" alt="confirmed man logo"></div>
        <div class="titles-medium " ><img  src="../assets/img/coro_rescue.png" alt="rescued man logo"></div>
        <div class="titles-medium " ><img  src="../assets/img/coro_critical.png" alt="rescued man logo"></div>
        <div class="titles-max " ><img  src="../assets/img/coro_deaths.png" alt="deaths man logo"></div>
      </div>
      
        <div class="loader-continents" *ngIf="!continents">
         
          <div class="d-flex justify-content-center">
            <div class="spinner-border" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
        </div>

      <div class="values" *ngFor="let continent of continents">
       
          <div class="line">
            
            <div class="tab-continent-name">{{ continent.ctName }}</div>
        
            <div class="tab-cases">
              <div>{{ continent.ctCases | number }}</div>
              <div>+{{ continent.ctToDayCases| number }}</div>
            </div>

            <div class=" tab-normal">{{ continent.ctRecovered | number }}</div>

            <div class=" tab-normal">{{ continent.ctCritical | number }}</div>

            <div class=" tab-deaths" >
              <div>{{ continent.ctDeaths | number }}</div>
              <div >+{{ continent.ctToDayDeaths | number }}</div>
            </div>

          </div>
       </div>
    </div> 
</div>



<div class="data-introduction">
  <div>
    
    <div class="data-introduction-left">
      <h2>
        Titre1
      </h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt nostrum cupiditate error non, eligendi maiores esse maxime voluptas, inventore sapiente officia, quibusdam sed et delectus. Labore ducimus ullam explicabo magnam.</p>
    </div>

    <div class="data-introduction-right">
      <h2>
        Sscovid19 data updates
      </h2>
      <p>We update our data regularly. However, we advise you to visit the website either in the early morning or in the evening to consult data that corresponds to reality.</p>
    </div>

  </div>

  <div class="rounded">
    <div >
      <span>Continents</span>
      <span> 06 </span>
    </div>
    <div>
      <span>Countries</span>
      <span>+215</span>
    </div>
    <div>
      <span>Countries</span>
      <span> ok </span>

    </div>
  </div>
</div>



<div class="data-by-continents">

<div class="bloc">
  
  <div class="continent">

    <div class="continent-name">
      <span class="name">North America </span>
      <span class="tested"> {{ testsNA | number }} people tested</span>
    </div>

    <div class="continent-cy-value">

      
    <div class="cy-header">
      <div class="cy-header-name">Countries</div>
      <div class="cy-header-crcd">Cases</div>
      <div class="cy-header-crcd">Recovered</div>
      <div class="cy-header-crcd">Criticals</div>
      <div class="cy-header-crcd">Deaths</div>
    </div>



   




    <div class="values-content" >
      
      <div class="loader" *ngIf="!countriesNA">
        <div class="d-flex justify-content-center">
          <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
      </div>
      

        
        <div *ngFor="let countryNA of countriesNA">
          <div *ngIf="countryNA.cyCases" class="cy-values-row">
            <div class="cy-values-flag-name"><img class="cy-values-flag" src ={{countryNA.cyFlag}} alt="flag of {{countryNA.cyName}} "> {{countryNA.cyName}}</div>
            <div class="cy-values-crcd">
              <div>{{countryNA.cyCases | number}}</div>
              <div style="color: skyblue;">+{{countryNA.cyToDayCases | number}}</div>
            </div>
            <div class="cy-values-crcd">{{countryNA.cyRecovered | number}}</div>
            <div class="cy-values-crcd">{{countryNA.cyCritical | number}}</div>
            <div class="cy-values-crcd">
              <div>{{countryNA.cyDeaths | number}}</div>
              <div style="color: red;">+{{countryNA.cyToDayDeaths | number}}</div>
            </div>
          </div>
      </div></div>
    </div>
  </div>






  <div class="continent">
    <div class="continent-name"><span class="name">South America </span><span class="tested"> {{ testsSA | number }} people tested</span></div>
    
    <div class="continent-cy-value">

    <div class="cy-header">
      <div class="cy-header-name">Countries</div>
      <div class="cy-header-crcd">Cases</div>
      <div class="cy-header-crcd">Recovered</div>
      <div class="cy-header-crcd">Criticals</div>
      <div class="cy-header-crcd">Deaths</div>
    </div>
    <div class="values-content" >

      <div class="loader" *ngIf="!countriesSA">
         
        <div class="d-flex justify-content-center">
          <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
       
      </div>

        


        <div *ngFor="let countrySA of countriesSA" >
          <div *ngIf="countrySA.cyCases" class="cy-values-row">
          <div class="cy-values-flag-name"><img class="cy-values-flag" src ={{countrySA.cyFlag}} alt="flag of {{countrySA.cyName}} "> {{countrySA.cyName}}</div>
          <div class="cy-values-crcd">
            <div>{{countrySA.cyCases | number}}</div>
            <div style="color: skyblue;">+{{countrySA.cyToDayCases | number}}</div>
          </div>
          <div class="cy-values-crcd">{{countrySA.cyRecovered | number}}</div>
          <div class="cy-values-crcd">{{countrySA.cyCritical | number}}</div>
          <div class="cy-values-crcd">
            <div>{{countrySA.cyDeaths | number}}</div>
            <div style="color: red;">+{{countrySA.cyToDayDeaths | number}}</div>
          </div>
        </div>
    </div>
      </div>
    
  </div>


</div>

<div class="bloc">
  <div class="continent">
    <div class="continent-name">
      <span class="name">Europe </span>
    <span class="tested"> {{ testsEU | number }} people tested</span></div>
   
    <div class="continent-cy-value">

    
    <div class="cy-header">
      <div class="cy-header-name">Countries</div>
      <div class="cy-header-crcd">Cases</div>
      <div class="cy-header-crcd">Recovered</div>
      <div class="cy-header-crcd">Criticals</div>
      <div class="cy-header-crcd">Deaths</div>
    </div>
    <div class="values-content" >
      
      

        <div class="loader" *ngIf="!countriesEU">
         
          <div class="d-flex justify-content-center">
            <div class="spinner-border" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
         
        </div>




        <div *ngFor="let countryEU of countriesEU">
          <div *ngIf="countryEU.cyCases" class="cy-values-row">

          <div class="cy-values-flag-name"><img class="cy-values-flag" src ={{countryEU.cyFlag}} alt="flag of {{countryEU.cyName}} "> {{countryEU.cyName}}</div>
          <div class="cy-values-crcd">
            <div>{{countryEU.cyCases | number}}</div>
            <div style="color: skyblue;">+{{countryEU.cyToDayCases | number}}</div>
          </div>
          <div class="cy-values-crcd">{{countryEU.cyRecovered | number}}</div>
          <div class="cy-values-crcd">{{countryEU.cyCritical | number}}</div>
          <div class="cy-values-crcd">
            <div>{{countryEU.cyDeaths | number}}</div>
            <div style="color: red;">+{{countryEU.cyToDayDeaths | number}}</div>
          </div>
          </div>
      </div>
    </div>
      </div>
    
  </div>

  <div class="continent">
    <div class="continent-name"><span class="name">Asia </span><span class="tested"> {{ testsAS | number }} people tested</span></div>
    
    <div class="continent-cy-value">

    <div class="cy-header">
      <div class="cy-header-name">Countries</div>
      <div class="cy-header-crcd">Cases</div>
      <div class="cy-header-crcd">Recovered</div>
      <div class="cy-header-crcd">Criticals</div>
      <div class="cy-header-crcd">Deaths</div>
    </div>
    <div class="values-content" >
      
      

        <div class="loader" *ngIf="!countriesAS">
         
          <div class="d-flex justify-content-center">
            <div class="spinner-border" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
         
        </div>
        <div *ngFor="let countryAS of countriesAS">
          <div *ngIf="countryAS.cyCases" class="cy-values-row">

          <div class="cy-values-flag-name"><img class="cy-values-flag" src ={{countryAS.cyFlag}} alt="flag of {{countryAS.cyName}} "> {{countryAS.cyName}}</div>
          <div class="cy-values-crcd">
            <div>{{countryAS.cyCases | number}}</div>
            <div style="color: skyblue;">+{{countryAS.cyToDayCases | number}}</div>
          </div>
          <div class="cy-values-crcd">{{countryAS.cyRecovered | number}}</div>
          <div class="cy-values-crcd">{{countryAS.cyCritical | number}}</div>
          <div class="cy-values-crcd">
            <div>{{countryAS.cyDeaths | number}}</div>
            <div style="color: red;">+{{countryAS.cyToDayDeaths | number}}</div>
          </div>
          </div>
      </div>
    </div>
      </div>
 
    
    
  </div>
</div>

<div class="bloc">
  <div class="continent">
    <div class="continent-name"><span class="name">Africa </span><span class="tested"> {{ testsAF | number }} people tested</span></div>
    
    <div class="continent-cy-value">


    <div class="cy-header">
      <div class="cy-header-name">Countries</div>
      <div class="cy-header-crcd">Cases</div>
      <div class="cy-header-crcd">Recovered</div>
      <div class="cy-header-crcd">Criticals</div>
      <div class="cy-header-crcd">Deaths</div>
    </div>
    <div class="values-content" >
      

        <div class="loader" *ngIf="!countriesAF">
         
          <div class="d-flex justify-content-center">
            <div class="spinner-border" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
         
        </div>
        <div *ngFor="let countryAF of countriesAF" >
          <div *ngIf="countryAF.cyCases" class="cy-values-row">

          <div class="cy-values-flag-name"><img class="cy-values-flag" src ={{countryAF.cyFlag}} alt="flag of {{countryAF.cyName}} "> {{countryAF.cyName}}</div>
          <div class="cy-values-crcd">
            <div>{{countryAF.cyCases | number}}</div>
            <div style="color: skyblue;">+{{countryAF.cyToDayCases | number}}</div>
          </div>
          <div class="cy-values-crcd">{{countryAF.cyRecovered | number}}</div>
          <div class="cy-values-crcd">{{countryAF.cyCritical | number}}</div>
          <div class="cy-values-crcd">
            <div>{{countryAF.cyDeaths | number}}</div>
            <div style="color: red;">+{{countryAF.cyToDayDeaths | number}}</div>
          </div>
          </div>
      </div>
    </div>
      </div>

    
    
  </div>



  <div class="continent">
    <div class="continent-name"><span class="name">Oceania </span><span class="tested"> {{ testsOC | number }} people tested</span></div>
   
    <div class="continent-cy-value">

    <div class="cy-header">
      <div class="cy-header-name">Countries</div>
      <div class="cy-header-crcd">Cases</div>
      <div class="cy-header-crcd">Recovered</div>
      <div class="cy-header-crcd">Criticals</div>
      <div class="cy-header-crcd">Deaths</div>
    </div>
    <div class="values-content" >  


        <div class="loader" *ngIf="!countriesOC">
         
          <div class="d-flex justify-content-center">
            <div class="spinner-border" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
         
        </div>
        <div *ngFor="let countryOC of countriesOC">
          <div *ngIf="countryOC.cyCases" class="cy-values-row">

          <div class="cy-values-flag-name"><img class="cy-values-flag" src ={{countryOC.cyFlag}} alt="flag of {{countryOC.cyName}} "> {{countryOC.cyName}}</div>
          <div class="cy-values-crcd">
            <div>{{countryOC.cyCases | number}}</div>
            <div style="color: skyblue;">+{{countryOC.cyToDayCases | number}}</div>
          </div>
          <div class="cy-values-crcd">{{countryOC.cyRecovered | number}}</div>
          <div class="cy-values-crcd">{{countryOC.cyCritical | number}}</div>
          <div class="cy-values-crcd">
            <div>{{countryOC.cyDeaths | number}}</div>
            <div style="color: red;">+{{countryOC.cyToDayDeaths | number}}</div>
          </div>
          </div>
      </div>
    </div>
      </div>

    
    
  </div>
</div>



</div>