.greetings{
    margin-top: 7.5em;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 1em;
    padding-bottom: 1em;
    display: flex;
    flex-direction: column;
}

/*
.change:before
{
  content: 'Welcome to you';
  animation: animate infinite 45s;
}
@keyframes animate
{
  10%
  {
  content: 'Bienvenue à vous';

  }
  20%
  {
  content: 'Willkommen bei Ihnen';

  }
  30%
  {
  content: 'Bienvenido a ti';
  
  }
  40%
  {
  content: 'Bem-vindo a si';

  }
  50%
  {
  content: 'Benvenuti da voi';
 
  }
  
  60%
  {
  content: 'Welkom bij u';

  }


  70%
  {
  content: 'Witamy Państwa';

  }
  80%
  {
  content: 'Добро пожаловать';

  }
  
  90%
  {
  content: '欢迎你的到来';

  }
}

.change{
    font-size: 195%;
    margin-bottom: 1%;
    text-align: center;

}

*/

.recommendations{
    margin-top: 1.5vh;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;

}

.date-update{
    margin-top: 1vh;
    text-align: right;
    font-weight: bold;
}


.Globals{
    background: #161748;
    display:flex;
    justify-content: center;
    align-items: center;
    padding-left: 1vh;
    padding-right: 1vh;
    flex-wrap: wrap;
    margin-bottom: 1em;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.Globals-text{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: black;
    margin-top:2vh;
    width:100%;
    padding: 0 2vh;
    
}

.Globals-text-title{
    width: 30vh;
    font-size: 1.8em;
    color:#161748;
    font-weight:bold;
    padding:2vh;

}

.Globals-text-content{
    text-align: unset;
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    background-color: rgb(223, 223, 223);
    padding:2vh;
    border-radius: 8px;
}

.Globals-text-content > div{
    margin-top:1vh;
    display:flex;
    align-items:flex-start;
}

.Globals-text-content > div > ul{
    list-style: none;
}

.confirmed-cases::before{
    content:" ";
    background-color: rgb(0, 113, 158) ;
    height: 12px;
    width: 12px;
    display:inline-block;
    margin-right:1vh;

}


.recovered-cases::before{
    content:" ";
    background-color:rgb(33, 163, 33) ;
    height: 12px;
    width: 12px;
    display:inline-block;
    margin-right:1vh;
}

.criticals-cases::before{
    content:" ";
    background-color: rgb(218, 218, 39);
    height: 12px;
    width: 12px;
    display:inline-block;
    margin-right:1vh;
}


.death-cases::before{
    content:"";
    background-color:rgb(190, 24, 24) ;
    height: 12px;
    width: 12px;
    display:inline-block;
    margin-right:1vh;
}




.Spinning_earth{
    height: 12em;
    width: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.earth{
    height: 85%;
    width: 100%;
    margin-right:1em;

    background-image: url("../../assets/img/coro_spinner.jpg");
    border-radius: 50%;
    background-size: cover;
    box-shadow: 20px -20px 50px 2px #000 inset, 0 0 2px #000;
    animation: spin 25s linear infinite;
}

@keyframes spin{
    0%
    {
        background-position: 0 0;
    }
    100%
    {
        background-position: 1200px 0;
    }
}

.Cases{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: skyblue;
}

.Cases img{
    height: 60px;
    width:30px;
    margin-bottom: 2%;
}

.ReCrDe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1em;
    margin-right:1em;
}

.Recovered{
    color:rgb(33, 163, 33);
    display:flex;
    border-bottom: solid white;
}

.Recovered img{
    height: 40px;
    width: 18px;
}

.Recovered div{
    display: flex;
    flex-direction: column;
}

.Criticals{
    color: rgb(218, 218, 39);
    display:flex;
    border-bottom: solid white;
    margin-top: 6px;
}

.Criticals img{
    height: 40px;
    width: 18px;
}

.Criticals div{
    display: flex;
    flex-direction: column;
}

.Deaths{
    color: rgb(190, 24, 24);
    display:flex;
    margin-top: 6px;

}
.Deaths img{
    height: 40px;
    width: 18px;

}

.Deaths div{
    display: flex;
    flex-direction: column;
}

.continents{
    height: 95%;
    display: flex;
    flex-direction: column;
}



.titles{
    display: flex;
    color: white;
}

.titles div{
    border: solid white;
    text-align: center;
}

.titles-medium{
    width: 20vh;
}

.titles-max{
    width: 23vh;
}


.titles div:first-child{
    
    text-align: left;
    padding-left: 1% ;
}

.titles div img{
    height:20px;
    width:13px;
}

.values{
    display: flex;
    flex-direction: column;
}

.loader--continents{
    display: flex;
    justify-content:center;
    align-items:center;
    width: 100%;
    height: 100%;
    color: black;
    background-color: white;
    min-height: 7em;
}

.loader{
    display: flex;
    justify-content:center;
    align-items:center;
    width: 100%;
    height: 100%;
    color: black;
    background-color: white;
}

  
.line{
    display:flex;
    height:100%;
    color: black;
    width: 100%;
    font-size: small;
    background-color: white;
    border-top: solid black;
    font-weight: bold;
}

.line:hover{
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:1.1em; 


}





.line div:first-child{
    text-align: left;
    padding-left: 1%;

}

.tab-cases{
    display:flex;
    justify-content: center;
}

.tab-cases div:first-child{
text-align: right;
padding-right:6%;
width:50%;
}
.tab-cases div:last-child{
    text-align: left;
    padding-left:6%;
    color: rgb(0, 113, 158);
    width: 50%;;
    }



.tab-deaths{
    display: flex;
justify-content: center;}
.tab-deaths div:first-child{
    text-align: right;
    padding-right:6%;
    width: 50%;
    }
    .tab-deaths div:last-child{
        text-align: left;
        padding-left:6%;
        color: rgb(190, 24, 24);
        width:50%;
        }
.normal{
    text-align:center;
}



.data-introduction{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top:2em;
    margin-bottom:2em;

}

.data-introduction > div{

    display: flex;
}

.data-introduction-right,
.data-introduction-left
{
    margin-left: 2vh;
    margin-right: 2vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 60vh;
}

.data-introduction-right > h2,
.data-introduction-left > h2{
    margin-left: 2vh;
    margin-right: 2vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 60vh;
    font-size: 1.6em;
    text-decoration: underline;

}


.rounded{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

}

.rounded > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 2vh;
    text-align: center;
    margin-right:2vh;
}

.rounded > div span:first-child{
    
    color: white;
    padding-left: 1vh;
    padding-right: 1vh;
    font-weight: lighter;
    font-size: 1.3em;
    background-color: #161748 ;
    border-radius: 6px;
    margin-top: 2vh;
}

.rounded > div span:last-child{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50%;
    border: solid #161748;
    font-weight: bolder;
    font-size: 1.4em;
    padding:2vh;
    justify-content: center;
    height: 10vh;
    width: 10vh;
    margin-top: 2vh;

}







.data-by-continents{
    background-color: #161748;

    padding-top: 7%;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom:5%;
}

.bloc{
    display: flex;
    width:100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    

}
.continent{

    width: 47%;
    min-height: 20vh;
    color: white;
    margin-bottom: 4%;
    margin-left: 2vh;
    margin-right: 2vh;

}

.labels-tested{
    display: flex;
     justify-content: space-between;
}

.labels{
    font-weight: bold;
    font-size: 1.8em;
}

.tested{
    background-color: white;
    color: black;
     font-weight: bold;
      width: 40%;
       display: flex;
       justify-content: center;
        align-items: center;
}

.cy-header{
    background-color: #343a40;
    height: 5vh;
     display: flex;
     border: 2px solid gray;
}

.cy-header-name{
    width: 30%;
    display: flex;
     align-items: center; 
     padding-left: 1%;
}

.cy-header-crcd{
    width: 17.5%; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    border-left: 1px solid gray ;
}



.values-content{
    background-color: #343a40; 
    height: 30vh; 
    display: flex; 
    align-items: center;
    border: 2px solid gray;
}

.values-overflow{
    background-color: #343a40; 
    height: 28vh; 
    width:100%; 
    overflow: auto; 
    padding-right: 1.5%;
}
.cy-values{
    padding-top: 0.5%;
    margin-bottom: 2%;
    display:flex;
    flex-direction: column;
    
    width: 100%;
    height: 100%;
}

.cy-values-row{
    display: flex; 
    border-bottom: 2px solid gray; 
    border-right: 2px solid gray;
}

.cy-values-flag-name{
    width: 30%; 
    display: flex; 
    align-items: center; 
    padding-left: 1%
}
.cy-values-flag{
    height:30px;
    width:40px;
    margin-right: 2%;
    border-radius: 6px;
    
}

.cy-values-crcd{
    width: 17.5%; 
    display: flex; 
    flex-direction: column; 
    align-items: center;
    justify-content: center;
}




@media all and (max-width: 1325px){

    .Spinning_earth{
        margin: 0;
        margin-left: 4vh;
        margin-right: 4vh;
    }

    .continents{
        width: 90%;
    }

    .titles-medium{
        width: 25%;
    }
    .titles-max{
        width: 25%;
    }

    .number {
        font-size: 2em ;
    }

    .ReCrDe{
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .Recovered,.Criticals,.Deaths{
        flex-direction: column;
        border-bottom: none;
        margin: 0%;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-left: 4vh;
        margin-right: 4vh;
    }

    .ReCrDe div img  {
        height: 60px;
        width:30px;
        margin-bottom: 2%;
    }

    .ReCrDe > div > div  {
        flex-direction: column-reverse;
    }

    .number {
        font-size: 1.7em ;
    }
}

@media all and (max-width: 1041px){

    .continent{
        width: 90%;
    }

}

@media all and (max-width: 1035px){

    .number {
        font-size: 1.7em ;
    }

}

@media all and (max-width: 973px){

    .Globals{
        padding-top: 3vh;
    }

    .Spinning_earth{
        display: none;
    }

    .number {
        font-size: 1.7em ;
    }

    .continents{
        margin-top: 3vh;
        margin-bottom: 2vh;
        width: 100%;
    }

    .Globals > div> div > img, .Globals > div> div > div > img{
        height: 40px;
        width:20px;
        
    }

    .number{
        font-size: 1.5em;
    }

    .Cases,.Recovered,.Criticals,.Deaths{
        margin: 0%;
        padding: 0%;
        margin-left: 2vh;
        margin-right: 2vh;

    }

}




@media all and (max-width: 877px){

    .tab-cases, .tab-deaths{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }



    .tab-cases div:first-child,
    .tab-cases div:last-child,
    .tab-deaths div:first-child,
    .tab-deaths div:last-child
    {
        width: 100%;
        text-align: center;
        padding: 0%;
    }
    
}