.sreen-size-advice{
    position: sticky;
    font-weight: 0.9em;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    display: none;
}


@media all and (max-width: 430px){

    .sreen-size-advice{
        top: 4.5em;
        display: block;
        font-size: 0.9em;

    }
}

@media all and (max-width: 320px){

    .sreen-size-advice{
        top: 4.5em;
        display: block;
        font-size: 0.8em;

    }
}