/* You can add global styles to this file, and also import other style files */

html,body { 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
}

body{
width: 100%;
height: 100%;

}

.my-container{
    max-width: 1200px;
    padding: 10px 20px;
}

@media all and (max-width: 850px){

    .my-container{

        padding: 10px 15px;
    }
}
